﻿@using Website;
@using Website.Models;
@model List<Website.Models.GalleryModel>

@{
    ViewBag.Title = "Winner";
    ViewData["BodyID"] = "Winner";
}

<div class="app-body content-winner" id="winner">

  <div class="content-header">
    <div class="container">
      <h2 class="app-logo"></h2>
      <h3>ประกาศ<strong>ผล</strong></h3>
    </div>
  </div>

  <div class="content-wrapper scroll-pane" id="full-scroll">
    <div class="scrollbar">
      <div class="track"><div class="thumb"></div></div>
    </div>
    <div class="viewport">
      <div class="overview">
        <ul class="full-winner-list">
          @for (int i = 0; i < Model.Count; i++) {
              GalleryModel item = Model[i];
              if (item.Winners.Count() > 0) {
                  <li class="winner-on-date @(i % 2 == 0 ? "right" : "left")">
                    <div class="container">
                      <h3>ผู้ที่ทายถูกประจำวันที่ <strong>@item.EventDate.ToString("dd MMM", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH"))</strong> มีดังนี้</h3>
                      <span class="time">@item.EventDate.ToString("HH:mm")</span>
                      <ol class="member-list">
                          @{ List<Account> winners = item.Winners.ToList(); }
                          @for (int j = 0; j < winners.Count(); j++) {
                              Account winner = winners[j];
                              <li class="ease-in-circ"><span class="index">@(j + 1).</span>@(winner.Type == 1 ? winner.FBFullname : winner.Firstname + " " + winner.Lastname)</li>
                          }
                      </ol>
                    </div>
                  </li>
              }
          }
        </ul>
      </div>
    </div>
  </div>

</div>


