/* font 
 * ---------------------------------------------------- */
  @font-face {
    font-family: 'DBHelvethaicaXReg';
    src: url('../fonts/psl096pro.eot'); /* IE9 Compat Modes */
    src: url('../fonts/psl096pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/psl096pro.woff') format('woff'), /* Modern Browsers */
         url('../fonts/psl096pro.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/psl096pro.svg#ac36d5c78f119f40112a192d0270d625') format('svg'); /* Legacy iOS */
         
    /*font-style:   normal;*/
    /*font-weight:  400;*/
  }

  @font-face {
    font-family: 'DBHelvethaicaXIt';
    src: url('../fonts/DB-Helvethaica-X-It.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DB-Helvethaica-X-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DB-Helvethaica-X-It.woff') format('woff'), /* Modern Browsers */
         url('../fonts/DB-Helvethaica-X-It.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/DB-Helvethaica-X-It.svg#147cb6dd512871f713eb9ee943a9f3b7') format('svg'); /* Legacy iOS */
         
    /*font-style:   normal;*/
    /*font-weight:  400;*/
  }

  @font-face {
    font-family: 'DBHelvethaicXLi';
    src: url('../fonts/ergocom-condensed.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ergocom-condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ergocom-condensed.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ergocom-condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ergocom-condensed.svg#073dd15db5a9a09aaf3c7597af07bf4c') format('svg'); /* Legacy iOS */
         
    /*font-style:   normal;*/
    /*font-weight:  400;*/
  }

  @font-face {
    font-family: 'DBHelvethaicaXMed';
    src: url('../fonts/psl096pro.eot'); /* IE9 Compat Modes */
    src: url('../fonts/psl096pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/psl096pro.woff') format('woff'), /* Modern Browsers */
         url('../fonts/psl096pro.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/psl096pro.svg#f8dd57e6b91d621327e4c9095bddf78a') format('svg'); /* Legacy iOS */
         
    /*font-style:   normal;*/
    /*font-weight:  400;*/
  }

  @font-face {
    font-family: 'DBHelvethaicaTXThin';
    src: url('../fonts/psl096pro.eot'); /* IE9 Compat Modes */
    src: url('../fonts/psl096pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/psl096pro.woff') format('woff'), /* Modern Browsers */
         url('../fonts/psl096pro.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/psl096pro.svg#be9bba74669136e293d9a6d2ef86d48d') format('svg'); /* Legacy iOS */
         
    /*font-style:   normal;*/
    /*font-weight:  200;*/
  }


/* eric mayer css reset 
 * ---------------------------------------------------- */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    /* margin: 0;
    padding: 0;
    border: 0; */
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;

    font-family: 'DBHelvethaicaXReg';
    color: #fff;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


/* Page Load
 ---------------------------------------*/
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background-color: #4f2b82;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 12px;
    overflow: hidden;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
  }

  .pace .pace-progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: -32px;
    bottom: 0;

    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;

    -webkit-animation: pace-stripe-animation 500ms linear infinite;
    -moz-animation: pace-stripe-animation 500ms linear infinite;
    -ms-animation: pace-stripe-animation 500ms linear infinite;
    -o-animation: pace-stripe-animation 500ms linear infinite;
    animation: pace-stripe-animation 500ms linear infinite;
  }

  @-webkit-keyframes pace-stripe-animation {
    0% { -webkit-transform: none; transform: none; }
    100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
  }
  @-moz-keyframes pace-stripe-animation {
    0% { -moz-transform: none; transform: none; }
    100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
  }
  @-o-keyframes pace-stripe-animation {
    0% { -o-transform: none; transform: none; }
    100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
  }
  @-ms-keyframes pace-stripe-animation {
    0% { -ms-transform: none; transform: none; }
    100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
  }
  @keyframes pace-stripe-animation {
    0% { transform: none; transform: none; }
    100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
  }


/* javascript 
 ---------------------------------------*/
  @keyframes vex-fadein { 
     0% { opacity: 0; }
   100% { opacity: 1; } 
  }
  @-webkit-keyframes vex-fadein { 
     0% { opacity: 0; }
   100% { opacity: 1; } 
  }
  @-moz-keyframes vex-fadein { 
     0% { opacity: 0; }
   100% { opacity: 1; } 
  }
  @-ms-keyframes vex-fadein { 
     0% { opacity: 0; }
   100% { opacity: 1; } 
  }
  @-o-keyframes vex-fadein { 
     0% { opacity: 0; }
   100% { opacity: 1; } 
  }
  @keyframes vex-fadeout { 
     0% { opacity: 1; }
   100% { opacity: 0; } 
  }
  @-webkit-keyframes vex-fadeout { 
     0% { opacity: 1; }
   100% { opacity: 0; } 
  }
  @-moz-keyframes vex-fadeout { 
     0% { opacity: 1; }
   100% { opacity: 0; } 
  }
  @-ms-keyframes vex-fadeout { 
     0% { opacity: 1; }
   100% { opacity: 0; } 
  }
  @-o-keyframes vex-fadeout { 
     0% { opacity: 1; }
   100% { opacity: 0; } 
  }
  @keyframes vex-rotation { 
     0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
   100% { transform: rotate(359deg); -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -ms-transform: rotate(359deg); -o-transform: rotate(359deg); } 
  }
  @-webkit-keyframes vex-rotation { 
     0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
   100% { transform: rotate(359deg); -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -ms-transform: rotate(359deg); -o-transform: rotate(359deg); } 
  }
  @-moz-keyframes vex-rotation { 
     0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
   100% { transform: rotate(359deg); -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -ms-transform: rotate(359deg); -o-transform: rotate(359deg); } 
  }
  @-ms-keyframes vex-rotation { 
     0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
   100% { transform: rotate(359deg); -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -ms-transform: rotate(359deg); -o-transform: rotate(359deg); } 
  }
  @-o-keyframes vex-rotation { 
     0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
   100% { transform: rotate(359deg); -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -ms-transform: rotate(359deg); -o-transform: rotate(359deg); } 
  }
  .vex, .vex *, .vex *:before, .vex *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .vex { position: fixed; overflow: auto; -webkit-overflow-scrolling: touch; z-index: 1111; top: 0; right: 0; bottom: 0; left: 0; }
  .vex-overlay { background: black; filter: alpha(opacity=40); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; }
  .vex-overlay { animation: vex-fadein 0.5s; -webkit-animation: vex-fadein 0.5s; -moz-animation: vex-fadein 0.5s; -ms-animation: vex-fadein 0.5s; -o-animation: vex-fadein 0.5s; -webkit-backface-visibility: hidden; position: fixed; background: rgba(0, 0, 0, 0.8); top: 0; right: 0; bottom: 0; left: 0; }
  .vex.vex-closing .vex-overlay { animation: vex-fadeout 0.5s; -webkit-animation: vex-fadeout 0.5s; -moz-animation: vex-fadeout 0.5s; -ms-animation: vex-fadeout 0.5s; -o-animation: vex-fadeout 0.5s; -webkit-backface-visibility: hidden; }
  .vex-content { animation: vex-fadein 0.5s; -webkit-animation: vex-fadein 0.5s; -moz-animation: vex-fadein 0.5s; -ms-animation: vex-fadein 0.5s; -o-animation: vex-fadein 0.5s; -webkit-backface-visibility: hidden; background: white; }
  .vex.vex-closing .vex-content { animation: vex-fadeout 0.5s; -webkit-animation: vex-fadeout 0.5s; -moz-animation: vex-fadeout 0.5s; -ms-animation: vex-fadeout 0.5s; -o-animation: vex-fadeout 0.5s; -webkit-backface-visibility: hidden; }
  .vex-close:before { font-family: Arial, sans-serif; content: "\00D7"; }
  .vex-dialog-form { margin: 0; }
  .vex-dialog-button { -webkit-appearance: none; cursor: pointer; }
  .vex-loading-spinner { animation: vex-rotation 0.7s linear infinite; -webkit-animation: vex-rotation 0.7s linear infinite; -moz-animation: vex-rotation 0.7s linear infinite; -ms-animation: vex-rotation 0.7s linear infinite; -o-animation: vex-rotation 0.7s linear infinite; -webkit-backface-visibility: hidden; -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1); box-shadow: 0 0 1em rgba(0, 0, 0, 0.1); position: fixed; z-index: 1112; margin: auto; top: 0; right: 0; bottom: 0; left: 0; height: 2em; width: 2em; background: white; }
  body.vex-open { overflow: hidden; }

  .vex .picker__button--clear { display: none; }

  /* Tiny Scrollbar */
  .scroll-pane { width: 100%; height: 100%; }
  .scroll-pane .viewport { width: 100%; height: 100%; overflow: hidden; position: relative; }
  .scroll-pane .overview { list-style: none; position: absolute; left: 0; width: 100%; top: 0; padding: 0 0 51px; margin: 0; }
  .scroll-pane .scrollbar { position: relative; position: absolute; z-index: 1; }
  .scroll-pane .track { height: 100%; position: relative; padding: 0 1px; }
  .scroll-pane .thumb { height: 20px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
  .scroll-pane .thumb .end { overflow: hidden; height: 5px; width: 25px; }
  .scroll-pane .disable { display: none; }
  .noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/* override
 * ---------------------------------------------------- */
  a {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;

    text-decoration: none;
  }
  body { padding: 0; margin: 0; }
  html, body {
    height: 100%;
  }
  .contain-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;

    opacity: 0;
  }
  .contain-wrapper.active {
    opacity: 1;

    animation: vex-fadein 0.5s; 
    -webkit-animation: vex-fadein 0.5s; 
    -moz-animation: vex-fadein 0.5s; 
    -ms-animation: vex-fadein 0.5s; 
    -o-animation: vex-fadein 0.5s;
  }
  .app-body { padding-bottom: 50px; }
  .footer { height: 50px; }


/* transition
 * ---------------------------------------------------- */
  .transition-default {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
  }
  .ease-inout-quint {
    -webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    transition:         all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  .ease-inout-quart {
    -webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    transition:         all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  .ease-in-circ {
    -webkit-transition: all 600ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition:         all 600ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }


/* utility 
 * ---------------------------------------------------- */
  .container { position: relative; width: 1200px; margin: 0 auto; }
  .anchor { display: none; }
  .app-logo { background: url(../images/logo-campaign.png); width: 436px; height: 88px; overflow: hidden; text-indent: -9999px; }

  .time { position: absolute; font-family: 'DBHelvethaicXLi'; font-size: 3.2em; }
  .time:after { content: ""; position: absolute; background: url(../images/icon-clock-white.png); width: 16px; height: 16px; }

  .button { text-indent: -9999px; overflow: hidden; display: inline-block; cursor: pointer; border: 0; }
  .button-join { background: url(../images/button-join.png); width: 154px; height: 81px; }
  .button-login { background: url(../images/button-login.png); width: 104px; height: 45px; }
  .button-register { background: url(../images/button-register.png); width: 166px; height: 45px; }
  .button-confirm { background: url(../images/button-confirm.png); width: 105px; height: 45px; }
  .button-reset { background: url(../images/button-reset.png); width: 153px; height: 45px; }
  .button-invite { background: #5873a8; color: #fff; padding-left: 28px; width: 120px; height: 26px; line-height: 26px; position: relative; text-indent: 0; text-align: center; font-size: 1.1em; }
  .button-invite:hover { background: #4f2b82; }
  .button-invite .icon-fb { position: absolute; left: 0; top: 0; width: 27px; height: 26px; border-right: solid 1px #a4b3d0; background: url(../images/icon-facebook.png); }
  .button-select-date { background: url(../images/button-select-time.png); width: 55px; height: 55px; }
  .button-more { background: url(../images/button-view.png); width: 157px; height: 39px; }
  .button-send { background: url(../images/button-send.png); width: 104px; height: 45px; }
  .button-invite-email { height: 26px; line-height: 26px; text-indent: 0; background: #5873a8; padding: 0 20px; margin: 0 5px; }
  .button-logout { height: 20px; line-height: 20px; text-indent: 0; background: #4f2b82; padding: 0 20px; text-align: center; font-size: 1em; }

  .scroll-pane { overflow: auto; }

  .nav-top .user-box { position: fixed; z-index: 3; padding: 5px 5px 5px 10px; box-shadow: 0 0 5px rgba(0,0,0,.8) }
  .nav-top .user-box:after { display: none; }
  .user-box { height: 20px; line-height: 20px; right: 20px; bottom: 5px; background: rgba(0,0,0,.6); }
  .user-box .user-name { height: 20px; line-height: 20px; float: left; margin-right: 15px; }
  .user-box .button-logout { font-size: 1em; }


/* modal
 * ---------------------------------------------------- */
  .vex-content { width: 630px; height: 350px; position: absolute; top: 50%; left: 50%; margin: -175px 0 0 -315px; border-bottom: solid 10px #4f2b82; box-shadow: 0 0 25px rgba(0,0,0,.9); color: #5a5a5a; }
  .vex-content .header { height: 45px; background: #4f2b82; color: #fff; padding-left: 20px; position: relative; }
  .vex-content .header h3 { margin: 0; padding: 0; height: 45px; line-height: 45px; font-size: 1.5em; text-transform: uppercase; text-align: center; }
  .vex-content .header .vex-close { width: 45px; height: 45px; background: #000; color: #fff; text-align: center; line-height: 45px; position: absolute; right: 0; top: 0; }
  .vex-content .content {  }

  .vex-content .connect-area { height: 145px; position: relative; overflow: hidden; }
  .vex-content .connect-area .info { color: #5a5a5a; text-align: center; text-transform: uppercase; font-family: 'DBHelvethaicaXMed' }
  .vex-content .connect-area .info.info-register { color: #4e2e83; font-size: 1.2em; }
  .vex-content .connect-area .button-facebook-connect { background: url(../images/button-fbconnect.png); width: 300px; height: 46px; display: block; margin: 0 auto; }

  .vex-content .login-area { height: 150px; position: relative; overflow: hidden; background: #000; }
  .vex-content .login-area .login-by-email { width: 310px; position: absolute; top: 15px; left: 70px; border-right: solid 1px #4f2b82; }

  .vex-content .register-by-email .button-register { position: absolute; top: 50%; right: 35px; margin-top: -25px }

  .vex-content .thankyou-text { text-align: center; }
  .vex-content .thankyou-text h3 { color: #5a5a5a; font-size: 4em; margin: 30px 0 10px; }
  .vex-content .thankyou-text h4 { color: #ff6600; font-size: 3em; margin: 0; font-weight: normal; }
  .vex-content .thankyou-text p { color: #5a5a5a; margin-bottom: 20px; font-size: 1.3em; }

  .vex-content .confirm-text { text-align: center; }
  .vex-content .confirm-text .button { margin: 0 5px; }
  .vex-content .confirm-data { width: 280px; height: 80px; margin: 65px auto 30px; padding-left: 100px; position: relative; text-align: left; }
  .vex-content .confirm-data .avatar { width: 80px; height: 80px; position: absolute; top: 0; left: 0; background: #ccc; border-radius: 5px; border: 0; }
  .vex-content .confirm-data p { color: #4f2b82; font-size: 2.5em; font-family: 'DBHelvethaicaXReg'; margin: 0; }
  .vex-content .confirm-data .time { color: #ffae00; font-size: 3.5em; line-height: 0.8em; }
  .vex-content .confirm-data .time:after { background: url(../images/icon-clock-yellow.png); top: 7px; right: -20px; }

  .vex-content.transparent { background: transparent; border: 0; box-shadow: none; }

  .vex-content.choose-date { width: 800px; height: 720px; background: url(../images/obj-clock.png); margin:  -360px 0 0 -400px; border: 0; box-shadow: none; }
  .choose-date .clock { position: absolute; width: 400px; height: 400px; top: 50%; left: 50%; margin: -165px 0 0 -200px; text-align: center; }
  .choose-date .clock .info { font-family: 'DBHelvethaicaTXThin'; font-size: 1.2em; text-transform: uppercase; position: relative; margin: 0 0 20px; }
  .choose-date .clock .info:after { content: ""; position: absolute; width: 67px; height: 94px; top: -70px; left: 50%; margin: 0 0 0 -15px; background: url(../images/obj-mouse.png); }
  .choose-date .clock .form-text { background: transparent; font-family: 'DBHelvethaicaTXThin'; padding: 0; margin: 0; height: auto; width: 100%; text-align: center; }
  .choose-date .clock .time-label { margin: -20px 0 0; position: relative; }
  .choose-date .clock .date-label { margin: 20px 0 60px 0; position: relative; }
  .choose-date .clock .form-select-date { position: relative; z-index: 2; }
  .choose-date .clock .form-text.timepicker { font-size: 10em; }
  .choose-date .clock .form-text.datepicker { font-size: 2em; text-transform: uppercase; position: relative; z-index: 2; }
  .choose-date .clock svg { position: absolute; top: -150px; left: -114px; z-index: 1 }

  .choose-date .button:after { content: ""; position: absolute; width: 25px; height: 25px; background: url(../images/arrow-down.png); right: 0; top: 50%; margin-top: -12px; }

  .choose-date .button-select-time { position: absolute; text-indent: 0; width: 190px; height: 40px; line-height: 40px; background-color: #ffae00; font-size: 1.4em; border-radius: 5px; left: 50%; bottom: 0; margin-left: -95px; }
  .choose-date .button-select-date { position: absolute; top: 0; left: 50%; margin-left: -95px; width: 190px; height: 40px; background: #ffae00; border-radius: 5px; }

  .vex-content.vdo-modal { width: 800px; height: 485px; margin: -210px 0 0 -400px; }
  .vdo-modal .video-player { width: 800px; height: 485px; box-sizing: border-box; border: solid 5px #DDD; box-shadow: 0 0 15px rgba(0,0,0,.8); text-align: center; background: rgba(255,255,255,0.3); }
  .vdo-modal .app-logo { position: absolute; top: -110px; left: 50%; margin-left: -200px; }
  .vdo-modal .time-box { position: absolute; top: 210px; right: -66px; width: 132px; height: 132px; background: url(../images/obj-diamon-purple.png); z-index: 2; }
  .vdo-modal .time-box .time { position: absolute; left: 0; width: 100%; top: 50%; margin-top: -25px; }
  .vdo-modal .time-box .time:after { top: -10px; left: 50%; margin-left: -8px; }
  .vdo-modal .button-share { position: absolute; top: 210px; right: -79px; margin-top: 92px; width: 79px; height: 79px; background: url(../images/obj-diamon-fb.png); }
  .vdo-modal .youtube { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

  .vex-content.winner-modal { height: inherit; margin-top: 0; top: 20%; }
  .winner-modal .winner-box { margin-top: 10px; background: rgba(0,0,0,.4); position: relative; overflow: hidden; box-shadow: 0 0 15px rgba(0,0,0,.8); }
  .winner-modal .winner-box h3 { height: 70px; line-height: 70px; text-align: center; text-transform: uppercase; font-weight: normal; font-size: 2em; font-family: 'DBHelvethaicaTXThin'; background: #4f2b82; margin: 0; }
  .winner-modal .winner-box h3 strong { font-family: 'DBHelvethaicaTXThin'; color: #ffae00; }
  .winner-modal .winner-list { margin: 0; padding: 0; list-style: none; overflow: hidden; border-bottom: solid 3px #4f2b82; }
  .winner-modal .winner-list li { float: left; width: 33%; height: 90px; box-sizing: border-box; padding: 15px 30px; }
  .winner-modal .winner-list li:nth-child(2n) { background: rgba(0,0,0,.3); }
  .winner-modal .winner-list li:nth-child(3n) { width: 34%; }
  .winner-modal .winner-list li img { float: left; height: 100%; border: solid 3px #FFF; box-sizing: border-box; margin-right: 20px; }
  .winner-modal .winner-list li .name { font-family: 'DBHelvethaicaTXThin'; font-size: 1.2em; float: left; width: 120px; padding-top: 10px; }
  .winner-modal .button-more { display: block; margin: 20px auto; }

  .register-area { padding: 20px; }
  .register-area h3 { margin: -10px 0 20px; padding: 0; color: #444; font-size: 1.4em; font-family: 'DBHelvethaicaXMed'; }
  .register-area h3 span { color: #ff6c00 }
  .register-area .form .form-label { color: #444; font-family: 'DBHelvethaicaXMed'; font-weight: normal; text-align: right; padding-right: 20px; width: 120px; font-size: 1.3em; white-space: nowrap; }
  .register-area .form .submit-row { margin: 20px -20px 0; padding: 40px 20px 0; text-align: center; border-top: solid 1px #4f2b82; }
  .register-area .form .form-text { background-color: #999; color: #222 }

  .invite-modal { height: 275px; }

  .invite-area { padding: 20px; }
  .invite-area h3 { margin: -10px 0 20px; padding: 0; color: #444; font-size: 1.4em; font-family: 'DBHelvethaicaXMed'; }
  .invite-area h3 span { color: #ff6c00 }
  .invite-area .form .form-label { color: #444; font-family: 'DBHelvethaicaXMed'; font-weight: normal; text-align: right; padding-right: 20px; }
  .invite-area .form .form-text { background-color: #999; color: #222; width: 75%; }
  .invite-area .form .submit-row { padding-left: 0; text-align: center; }

  .vex-content.facebook-modal { height: 200px; overflow: hidden; }
  .vex-content.facebook-modal .connect-area .info { display: none; }
  .vex-content.facebook-modal .connect-area .button-facebook-connect { position: absolute; left: 50%; top: 50%; margin-top: -23px; margin-left: -150px; }

  .vex-content.error-modal { height: 200px; overflow: hidden; }
  .vex-content.error-modal .context { position: relative; display: block; height: 145px; }
  .vex-content.error-modal .message { position: absolute; top: 50%; left: 0; right: 0; text-align: center; height: 20px; line-height: 20px; margin-top: -10px; color: #4e2e83; font-size: 1.4em; }

/* form 
 * ---------------------------------------------------- */
  .form { padding: 0; margin: 0; }
  .form .form-row { display: block; clear: both; height: 25px; line-height: 25px; margin-bottom: 10px; }
  .form .form-row.row-half { float: left; width: 50%; clear: none; }
  /*.form .form-row.row-newline { clear: right; }*/
  .form .submit-row { padding: 5px 0 0 100px; height: auto; margin-bottom: 0; }
  .form .form-label { float: left; width: 100px; height: 25px; line-height: 25px; text-transform: uppercase; font-size: 1.3em; }
  .form .form-text { background: #4d4d4d; width: 175px; height: 25px; border: 0; color: #fff; padding: 5px; font-size: 0.9em; }


/* layout
 * ---------------------------------------------------- */
  .contain-wrapper { position: relative; z-index: 2; }
  .bg-vdo { 
    background: url(../images/thumb-vdo.jpg) no-repeat center center fixed; 

    position: fixed;
    z-index: 0;
    top: 0; left: 0;
    width: 100%; height: 100%;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .bg-vdo:after {
    background: url(../images/pattern-dot-19.png) repeat center center; 

    content: "";
    position: fixed;
    z-index: 0;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .bg-vdo iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  .content-header { }
  .content-header .container { height: 90px; overflow: hidden; }
  .content-header .container h3 { font-size: 3em; font-family: 'DBHelvethaicaXReg'; margin: 0; }
  .content-header .container h3 strong { font-weight: normal; color: #ffae00 }
  .content-header .container p { font-size: 1.2em; margin: 0; }
  .content-header .app-logo { 
    margin: 0; padding: 0; position: absolute; top: 0; right: -40px; 
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  .content-gallery-range .content-header .container h3 { font-size: 2.4em; }
  .select-time-range { position: relative; }
  .select-time-range .time-label { position: absolute; top: 17px; left: 50%; margin-left: 35px; }
  .select-time-range .date-label { position: absolute; top: 0; left: 50%; margin-left: -165px; }
  .select-time-range .button-select-date,
  .select-time-range .button-select-time { text-indent: 0; line-height: 40px; font-size: 22px; }
  .content-gallery-range .event-item .choose-time { background-image: url(../images/clock-available.png); cursor: default; }


/* header
 * ---------------------------------------------------- */
  .app-header { position: relative; height: 110px; }

  .logo-scb { background: url(../images/logo-scb.png); position: absolute; left: 0; top: 0; width: 110px; height: 110px; margin: 0; }
  .logo-scb .scblife { display: block; width: 100%; height: 100%; overflow: hidden; text-indent: -999px; }

  .nav { position: absolute; }
  .nav ul { padding: 0; margin: 0; list-style: none; }
  .nav li { display: inline; padding: 0 0.9em; position: relative; }

  .nav-top { right: 0; height: 64px; background: rgba(0,0,0,.5); padding-top: 23px; box-sizing: border-box; padding-left: 20px; top: 0px; }
  .nav-top li { float: left; height: 20px; line-height: 20px; }
  .nav-top li:after { content: "|"; color: #fff; position: absolute; left: -1px; bottom: 0;  }
  .nav-top a { color: #fff; font-size: 1.3em; font-family: 'DBHelvethaicaXReg'; font-weight: bold; }
  .nav-top a:hover { color: #ffae00; }
  .nav-top a.active { color: #ffae00; }

  .nav-top .facebook-link { width: 70px; padding-right: 0; }
  .nav-top .facebook-link a { position: absolute; bottom: -20px; right: 0; width: 70px; height: 70px; text-indent: -9999px; overflow: hidden; background: #18191b url(../images/icon-f.png) no-repeat center center; }


/* footer 
 * ---------------------------------------------------- */
  .app-footer { position: relative; z-index: 1; height: 50px; line-height: 50px; }
  .copyright { color: #fff; padding: 0; margin: 0; text-transform: uppercase; font-family: 'DBHelvethaicXLi'; font-size: 0.8em; text-shadow: 0 0 5px rgba(0,0,0,.8); }


/* page: home 
 * ---------------------------------------------------- */
  .content-home { padding-bottom: 100px; }
  .content-home .app-logo { margin: 0 auto; }
  .content-home .lead { width: 770px; height: 80px; background: url(../images/home-text.png); margin: 10px auto 40px; text-align: center; }
  .content-home .lead p { display: none; }
  .content-home .button-join { margin: 0 auto; display: block; }

  .player-list { width: 1000px; height: 250px; padding: 0; margin: 0 auto 20px; }
  .player-list .svg { width: 220px; height: 220px; position: absolute; top: 15px; left: 15px; }
  .player-list li { position: relative; width: 250px; height: 250px; float: left; }
  .player-list li:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/pattern-strip-20.png) top left; }
  .player-list .time { text-shadow: 0 0 5px rgba(0,0,0,0.3); z-index: 3; font-family: 'DBHelvethaicaTXThin'; }
  .player-list .time:after { display: none; }
  .player-list .player { position: absolute; z-index: 2; }
  .player-list .shadow { position: absolute; z-index: 1; }
  .player-list .screen-circle { 
    background: rgba(255,255,255,0.3); position: absolute; top: 50%; left: 50%; width: 50%; height: 50%; border-radius: 50%; margin-left: -25%; margin-top: -25%; 

    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  .player-list .screen-circle.active {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .player-list .player-01 { background: #ffae00; }
  .player-list .player-01 .time { top: 20px; left: 30px; }
  .player-list .player-01 .time:after { top: 10px; left: -25px; }
  .player-list .player-01 .player,
  .player-list .player-01 .shadow { width: 160px; height: 374px; top: -30px; right: 10px; }
  .player-list .player-01 .player { background: url(../images/character-01.png); }
  .player-list .player-01 .shadow { background: url(../images/character-01-shadow.png); margin: 20px 10px 0 0; }
  .player-list .player-02 { background: #a48dc8; }
  .player-list .player-02 .time { top: 95px; left: 130px; }
  .player-list .player-02 .time:after { top: -10px; right: 5px; }
  .player-list .player-02 .player,
  .player-list .player-02 .shadow { width: 116px; height: 335px; top: -40px; right: 80px; }
  .player-list .player-02 .player { background: url(../images/character-02.png); }
  .player-list .player-02 .shadow { background: url(../images/character-02-shadow.png); margin: 15px -10px 0 0; }
  .player-list .player-03 { background: #c49d4a; }
  .player-list .player-03 .time { top: 165px; right: 100px; }
  .player-list .player-03 .time:after { top: -10px; left: 20px; }
  .player-list .player-03 .player,
  .player-list .player-03 .shadow { width: 188px; height: 249px; top: -15px; right: 30px; }
  .player-list .player-03 .player { background: url(../images/character-03.png); }
  .player-list .player-03 .shadow { background: url(../images/character-03-shadow.png); margin: 15px 0 0; }
  .player-list .player-04 { background: #4b2785; }
  .player-list .player-04 .time { top: 60px; left: 47px; }
  .player-list .player-04 .time:after { top: -10px; left: 20px; }
  .player-list .player-04 .player,
  .player-list .player-04 .shadow { width: 140px; height: 415px; top: -60px; right: 10px; }
  .player-list .player-04 .player { background: url(../images/character-04.png); }
  .player-list .player-04 .shadow { background: url(../images/character-04-shadow.png); margin: 15px 0 0; }


/* page: join 
 * -------------------------------------------------- */
  .content-join .content-header .container { text-align: center; }
  .content-join .content-wrapper { position: fixed; top: 200px; bottom: 50px; left: 0; width: 100%; min-width: 1200px; z-index: 1; }

  .event-list { margin: 0; padding: 0; width: auto; }
  .event-item { overflow: hidden; height: 190px; width: 100%; border-bottom: solid 1px rgba(255,255,255,.3); }
  .event-item .container { width: 961px; height: 190px; margin: 0 auto; padding: 0; /*overflow: hidden;*/ box-sizing: border-box; position: relative; }
  .event-item .container:after { content: ""; position: absolute; top: 0; bottom: 0; left: 50%; width: 1px; background: #fff; }
  .event-item.odd .container { padding-left: 480px; }
  .event-item.event .container { padding-right: 480px; }
  .event-item .time { position: absolute; bottom: 0; font-size: 4em; text-shadow: 0 0 15px rgba(0,0,0,.8); }
  .event-item .time:after { display: none; }
  .event-item .date { position: absolute; bottom: 65px; font-size: 1.6em; }
  .event-item.odd .time { left: 10px; }
  .event-item.odd .date { left: 10px; }
  .event-item.event .time { right: 10px; }
  .event-item.event .date { right: 10px; }
  .event-item a { float: left; width: 160px; height: 190px; background: rgba(0,0,0,.4); position: relative; }
  .event-item a:hover { }
  .event-item a span { text-align: center; position: absolute; bottom: 0; left: 0; width: 100%; height: 35%; padding: 10px; box-sizing: border-box; background: rgba(0,0,0,.1); text-transform: uppercase; font-size: 1em; font-family: 'DBHelvethaicaXReg' }
  .event-item .choose-time { background-image: url(../images/icon-select-small.png); background-repeat: no-repeat; background-position: 50% 40%; }
  .event-item .avatar { height: 65%; overflow: hidden; padding: 0; }
  .event-item .avatar img { 
    display: block; width: 100%; min-height: 100%; border: 0; background: #fff; 

    -webkit-transition: all 12s;
    -moz-transition: all 12s;
    -o-transition: all 12s;
    transition: all 12s;
  }
  .profile:hover .avatar img {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }

  .event-item .profile span { text-align: right; }
  .event-item .profile.top span { bottom: 0; }
  .event-item .profile.top .avatar { bottom: 35%; }
  .event-item .profile.bottom span { bottom: 65%; }
  .event-item .profile.bottom .avatar { bottom: 0; }

  .scroll-pane .scrollbar { left: 50%; width: 25px; top: 110px; margin-left: -600px; }
  .scroll-pane .scrollbar .track { background: url(../images/scroll-track.png) repeat-y right top; width: 100%; }
  .scroll-pane .scrollbar .thumb { background: url(../images/scroll-bar.png) repeat-y right top; width: 100%; left: 0; }

  .scroll-pane .scrollbar .select-date-label { position: absolute; top: -105px; left: 50%; margin-left: -60px; width: 120px; height: 75px; text-align: center; font-size: 1.2em; font-family: 'DBHelvethaicaTXThin'; }
  .scroll-pane .scrollbar .select-date-label .button-select-date { }
  .scroll-pane .scrollbar span { position: absolute; font-family: 'DBHelvethaicaTXThin'; font-size: 1.2em; color: rgba(255,255,255,.4); left: -5px; }
  .scroll-pane .scrollbar .limit-start { top: -25px; }
  .scroll-pane .scrollbar .limit-end { bottom: -25px; }


/* page: gallery 
 * ------------------------------------------ */
  .content-gallery:after { content: ""; position: absolute; left: 50%; top: 200px; bottom: 0; width: 1px; background: rgba(255,255,255,0.3); }
  .content-gallery .content-header .container h3 { margin-left: 200px; margin-top: 25px; }
  .content-gallery .content-wrapper .container { width: 100%; position: fixed; top: 200px; bottom: 50px; margin: 0 auto; }

  .content-gallery .scroll-pane .overview { padding-bottom: 0; }
  .content-gallery .scroll-pane .scrollbar { top: 50%; margin-top: -112px; margin-left: -670px; } 

  .vdo-list { padding: 0; margin: 0; list-style: none; overflow: hidden; }
  .vdo-list .vdo-wrapper { overflow: hidden; border-bottom: solid 1px rgba(255,255,255,.3); }
  .vdo-list .vdo-wrapper > ul { width: 1200px; margin: 0 auto; padding: 0; }
  
  .vdo-list .vdo { float: left; width: 200px; height: 240px; background: rgba(0,0,0,.3); position: relative; }
  .vdo-list .vdo .open-vdo { position: absolute; top: 0; left: 0; width: 100%; height: 65%; overflow: hidden; }
  .vdo-list .vdo .open-vdo img { display: block; width: 100%; min-height: 100%; background: #fff; }
  .vdo-list .vdo .open-vdo:after { 
    content: ""; 
    position: absolute; top: 0%; left: 0%;
    width: 100%; height: 100%; 
    box-sizing: border-box;
    border: solid 5px rgba(255,255,255,0);
    background: rgba(0,0,0,.3) url(../images/button-play.png) no-repeat center center; opacity: 0.8; 

    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
  }
  .vdo-list .vdo .open-vdo:hover:after { 
    opacity: 1; 
    background-color: rgba(56, 35, 97, 0.6);
    border: solid 5px rgba(255,255,255,1);
  }
  .vdo-list .vdo .title { position: absolute; top: 65%; left: 0; width: 100%; height: 35%; box-sizing: border-box; padding: 10px; text-align: right; }
  .vdo-list .vdo .title .time { display: block; position: static; margin-top: 10px; font-size: 2em; }
  .vdo-list .vdo .title .time:after { top: -15px; right: 0; }
  .vdo-list .vdo .title .date { display: block; font-size: 1.2em; font-family: 'DBHelvethaicaTXThin'; text-transform: uppercase; margin-top: -10px; }

  .vdo-list .vdo.up .title { top: 65%; }
  .vdo-list .vdo.up .open-vdo { top: 0%; }

  .vdo-list .vdo.down .title { top: 0%; }
  .vdo-list .vdo.down .open-vdo { top: 35%; }


/* page: winner 
 * ------------------------------------------ */
  .content-winner .content-header .container h3 { margin-left: 200px; margin-top: 25px; }

  .content-winner .scroll-pane { position: fixed; top: 200px; bottom: 0; left: 0; width: 100%; height: auto; }
  .content-winner .scroll-pane .scrollbar { left: auto; right: 0; top: 0; width: 15px; }
  .content-winner .scroll-pane .scrollbar .track { background: rgba(255,255,255,.7); width: 15px; }
  .content-winner .scroll-pane .scrollbar .thumb { background: #4f2b82; }

  .content-winner .full-winner-list { margin: 0; padding: 0; list-style: none; }
  .content-winner .full-winner-list > li { padding: 10px; border-bottom: solid 1px rgba(255,255,255,.3); overflow: hidden; position: relative; }
  .content-winner .full-winner-list .container { width: 960px; margin: 0 auto; box-sizing: border-box; }
  .content-winner .full-winner-list .left .container { padding-left: 480px; }
  .content-winner .full-winner-list .right .container { padding-right: 480px; }

  .content-winner .full-winner-list h3 { margin: 0 0 10px; font-size: 2em; font-family: 'DBHelvethaicaXReg'; font-weight: normal; text-transform: uppercase; }
  .content-winner .full-winner-list h3 strong { color: #ffae00; font-family: 'DBHelvethaicaXReg'; font-weight: normal; }

  .content-winner .full-winner-list .time { position: absolute; bottom: -20px; font-family: 'DBHelvethaicaTXThin'; font-size: 6em; }
  .content-winner .full-winner-list .time:after { display: none; }
  .content-winner .full-winner-list .left .time { right: 500px; }
  .content-winner .full-winner-list .right .time { right: 0; }

  .content-winner .member-list { background: #4f2b82; margin: 0; padding: 0; }
  .content-winner .member-list li { height: 70px; line-height: 70px; font-size: 2em; font-family: 'DBHelvethaicaTXThin'; }
  .content-winner .member-list li:nth-child(2n) { background: rgba(0,0,0,.2); }
  .content-winner .member-list .index { float: left; width: 70px; height: 70px; margin-right: 20px; line-height: 70px; text-align: center; font-family: 'DBHelvethaicaTXThin'; background: rgba(255,255,255,.1); }


/* page: howto 
 * ------------------------------------------- */
  .content-howto .content-header .container h3 { margin-left: 200px; margin-top: 25px; }

  .content-howto .content-wrapper .container { width: 960px; margin: 0 auto; }
  .content-howto .scroll-pane { height: 500px; background: #222222; }
  .content-howto .scroll-pane .scrollbar { left: auto; right: 0; top: 0; width: 15px; }
  .content-howto .scroll-pane .scrollbar .track { background: rgba(255,255,255,.7); width: 15px; }
  .content-howto .scroll-pane .scrollbar .thumb { background: #4f2b82; }

  .how-to { padding: 50px; }
  .how-to .hilight { color: #ffae00; }


/* animate
 * ------------------------------------------- */
  /*.desktop-ui .card-viewport .card { 
    opacity: 0; 
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }*/
  .desktop-ui .vdo-wrapper .card {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  /*.desktop-ui .card-viewport .time,
  .desktop-ui .card-viewport .date { 
    opacity: 0; 
    transform: translateY(180px);
    -webkit-transform: translateY(180px);
    -moz-transform: translateY(180px);
    -ms-transform: translateY(180px);
    -o-transform: translateY(180px);
  }*/

  .desktop-ui .player-list .time { margin-top: 40%; opacity: 0; }
  .desktop-ui .player-list .player { margin-top: 100%; opacity: 0; }
  .desktop-ui .player-list .shadow { margin-top: 120%; opacity: 0; }
  .desktop-ui .player-list li { opacity: 0; }

  .desktop-ui .vdo-list .vdo { opacity: 0; }

  .desktop-ui .winner-on-date { opacity: 0; }
  .desktop-ui .content-winner .member-list li { margin-left: 50%; opacity: 0; }
    .disable-portrait {
    display: none;
    background-color: #4f2b82;
    position: fixed; width: 100%; height: 100%;
    top: 0; left: 0; z-index: 10;
  }
  .disable-portrait strong { 
    position: absolute; 
    height: 25px; line-height: 25px; 
    top: 50%; left: 0; right: 0; 
    text-align: center; 
    margin-top: -13px; 
    color: #FFF;
  }
  @media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .disable-portrait { display: block; }
    .app-header, .app-body, .app-footer, .bg-vdo { display: none; }
  }
  @media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .disable-portrait { display: none; }
    .app-header, .app-body, .app-footer, .bg-vdo { display: block; }
  }