
body { background-color: #555; }
.mobile-ui { width: 320px; margin: 0 auto; position: relative; }

/* Layout 
 * ------------ */
  .contain-wrapper { margin: 0 auto -20px; overflow: hidden; }
  .contain-wrapper.active { z-index: 3; }
  .app-body { padding-bottom: 20px; }
  .footer { height: 20px; }

  .mobile-ui .user-box { position: relative; padding: 0 0.9em; box-shadow: none; right: inherit; bottom: inherit; z-index: inherit; }
  .mobile-ui .user-box .user-name { display: none; }
  .mobile-ui .user-box .button-logout { text-align: left; }

/* Vex
 * ------------ */
  /*.vex-overlay { background-color: rgba(0,0,0,0.4); }*/

  .vex-content { width: 100%; left: 0; margin-left: 0; }
  .vex-content .thankyou-text h3 { font-size: 3em; }
  .vex-content .thankyou-text h4 { font-size: 2em; }
  .vex-content .thankyou-text p { margin: 10px 40px 30px; }
  .vex-content .login-area .login-by-email { top: 10px; left: 5px; bottom: 5px; border: 0; }
  .vex-content .register-by-email:after { content: ""; position: absolute; bottom: 20px; left: 50%; margin-left: -33px; height: 45px; width: 1px; background: #4f2b82; }
  .button-login { position: absolute; left: 50%; bottom: 15px; margin-left: -150px; }
  .vex-content .register-by-email .button-register { bottom: 20px; top: auto; margin: 0; right: 50%; margin-right: -150px; }
  .vex-content .form .form-row { margin-bottom: 5px; padding-left: 10px; }

  .vex-content .header h3 { font-size: 1.3em; text-align: left; }

  .vex-content.choose-date { top: 55px; left: 50%; width: 300px; height: 290px; background-image: none; margin: 0 0 0 -149px; }

  .choose-date .clock { width: 100%; height: 100%; left: 0; top: 0; margin: 0; }
  .choose-date .clock .info { display: none; }
  .choose-date .button-join { position: absolute; top: 230px; left: 50%; margin-left: -75px; }

  .choose-date .clock .form-text.timepicker { font-size: 6em; line-height: 1em; }
  .choose-date .clock .date-label { margin-top: 0; }

  .vex-content.vdo-modal { width: 320px; height: 210px; margin-left: -160px; left: 50%; }
  .vdo-modal .video-player { width: 320px; height: 210px; }
  .vdo-modal .app-logo { display: none; }
  .vdo-modal iframe { width: 100%; height: 200px; }

  .vdo-modal .time-box { right: 10px; top: 190px; }
  .vdo-modal .button-share { top: 210px; margin-top: 45px; right: 50%; margin-right: -59px; }

  .vex-content.winner-modal { top: 55px; }
  .winner-modal .time-box { top: 40px; }
  .winner-modal .button-share { display: none; }
  .winner-modal .winner-box { margin-top: 0; }
  .winner-modal .winner-list { height: auto; }
  .winner-modal .winner-list li,
  .winner-modal .winner-list li:nth-child(3n) { float: none; width: auto; margin-bottom: -15px; }
  .winner-modal .winner-list li:nth-child(3n) { margin: 0; }

  .vex-content .form .form-row { padding-left: 0; }
  .register-area .form .submit-row { padding-left: 20px; padding-top: 15px; }

  .invite-area .form .form-label { width: 70px; }

/* Header 
 * ------------ */
  .app-header { height: 53px; }

  .nav-top { position: absolute; z-index: 4; top: 0; left: 100%; width: 100%; padding: 0; }
  .nav-top.active { left: 0; }

  .nav-top .button-logout { text-indent: -13px; }

  .nav-top h3,
  .nav-top li,
  .nav-top .facebook-link,
  .nav-top a { height: 53px; background: #4f2b83; float: none; line-height: 53px; box-sizing: border-box; display: block; width: 100%; margin: 0; padding: 0; overflow: hidden; font-family: 'DBHelvethaicXLi'; font-size: 1em; font-weight: normal; text-transform: uppercase; }
  .nav-top a.active { background: #58318e; color: #ffae02; }
  .nav-top a { padding-left: 53px; }
  .nav-top h3 { padding-left: 53px; color: #7755a2; }
  .nav-top li { border: solid 1px #441f6d; border-width: 1px 0; border-top-color: #663da7; }
  .nav-top li:after { background: url(../images-m/icon-arrow-next.png); width: 15px; height: 30px; position: absolute; left: inherit; right: 20px; top: 50%; margin: -15px 0 0; text-indent: -999px; overflow: hidden; }
  .nav-top .facebook-link a { background-color: transparent; background-position: 53px center; width: 100%; height: 53px; position: static; text-indent: 30px; }

  .button-menu-toggle { position: absolute; z-index: 5; right: 0; top: 0; background: url(../images-m/button-menu.png); width: 53px; height: 53px; }
  .app-header .app-logo { background: url(../images-m/logo-app.png); width: 185px; height: 40px; position: absolute; top: 0; left: 50%; margin-left: -92px; }

/* Utility 
 * ------------ */
  .container { position: relative; width: 320px; margin: 0 auto; }

  .logo-scb { background: url(../images-m/logo-scb.png); position: absolute; left: 0; top: 0; width: 53px; height: 53px; margin: 0; }
  .app-footer { position: relative; height: 20px; line-height: 20px; z-index: 2; }
  .copyright { color: #fff; padding: 0; margin: 0; text-transform: uppercase; font-family: 'DBHelvethaicXLi'; font-size: 0.6em; text-shadow: 0 0 5px rgba(0,0,0,.8); text-align: center; }

  .scroll-pane .scrollbar { display: none; }
  .scroll-pane .overview { padding-bottom: 0; }

  .mobile-ui .scroll-pane .viewport { overflow: auto; }

  .form .form-row.row-half { float: none; width: auto; }
  .form .form-text { width: 155px; }

  .button-change-date { height: 40px; text-indent: 0; background: #000; position: absolute; top: 62px; left: 10px; right: 10px; text-align: center; font-size: 1.8em; text-transform: uppercase; line-height: 40px; border-radius: 5px; }
  .button-change-date:after { content: ""; position: absolute; width: 15px; height: 15px; background: url(../images-m/icon-arrow-down.png); right: 5px; top: 50%; margin-top: -7px; }

/* Page: home 
 * ------------ */
  .content-home .app-logo { display: none; }
  .content-home .lead { 
    width: 600px; height: 125px; 
    position: absolute; left: 50%; top: -130px;
    margin-left: -300px;
    background: url(../images-m/home-text.png); 

    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  .content-home .player-list { width: 100%; margin-top: 100px; }
  .content-home .player-list li { width: 140px; height: 140px; box-sizing: border-box; margin: 0 0 15px 15px; }
  .content-home .player-list .svg { width: 260px; height: 260px; margin-top: -130px; margin-left: -130px; top: 50%; left: 50%; 
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  .content-home .player-list .screen-circle {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .content-home .player-list span {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
  }

  .player-list .player-01 .svg { background: url(../images-m/time-player-01.png); }
  .player-list .player-02 .svg { background: url(../images-m/time-player-02.png); }
  .player-list .player-03 .svg { background: url(../images-m/time-player-03.png); }
  .player-list .player-04 .svg { background: url(../images-m/time-player-04.png); }

  .player-list .time { font-size: 3.6em; }
  .player-list .player-01 .time { top: 0; left: -10px; }
  .player-list .player-01 .shadow { margin: 5px 5px 0 0; }
  .player-list .player-01 .player, .player-list .player-01 .shadow { top: -115px; right: -20px; }

  .player-list .player-02 .time { top: 40px; left: 50px; }
  .player-list .player-02 .shadow { margin-top: 5px; }
  .player-list .player-02 .player, .player-list .player-02 .shadow { top: -100px; right: 30px; }

  .player-list .player-03 .time { top: 83px; left: 33px; }
  .player-list .player-03 .shadow { margin-top: 10px; }
  .player-list .player-03 .player, .player-list .player-03 .shadow { top: -45px; right: -20px; }

  .player-list .player-04 .time { top: 25px; left: -7px; }
  .player-list .player-04 .shadow { margin-top: 10px; }
  .player-list .player-04 .player, .player-list .player-04 .shadow { top: -125px; right: -25px; }

/* Page: join 
 * ------------ */
  .content-join .content-wrapper { position: fixed; top: 53px; bottom: 20px; left: 0; width: 100%; min-width: 320px; z-index: 1; }

  .content-join .content-header { display: none; }

  .event-item { height: 171px; border-bottom: 0; }
  .event-item .container { padding: 0 !important; width: 165px; box-sizing: border-box; width: 100%; }
  .event-item .container:after { display: none; }
  .event-item .time { position: static; height: 40px; border-bottom: solid 1px #fff; display: block; width: 100%; font-size: 1.6em; line-height: 2.6em; }
  .event-item a { width: 33%; height: 130px; }
  .event-item a:nth-child(3) { width: 34%; }
  .event-item .choose-time { background-image: url(../images-m/icon-select.png); background-position: 50% 30%; }

  .event-item .date { top: 8px; left: 0!important; right: inherit !important; bottom: inherit !important; font-size: 0.8em; }

  .event-item a span { line-height: 11px; padding: 8px 10px; }

  .content-gallery-range .event-item .choose-time { background-image: url(../images-m/clock-available.png); }
  .content-gallery-range .scroll-pane .overview { top: 0 !important; }
  .content-gallery-range.content-join .content-wrapper { top: 118px; }
  .content-gallery-range.content-join .content-header { display: block; height: 65px; }
  .content-gallery-range.content-join .content-header .container { height: 65px; }
  .content-gallery-range.content-join .content-header .app-logo,
  .content-gallery-range.content-join .content-header .container h3 { display: none; }

  .select-time-range { height: 65px; position: relative; }
  .select-time-range .time-label,
  .select-time-range .date-label { position: static; }
  .select-time-range .picker__input { opacity: 0; }
  .select-time-range.choose-date .button-select-date,
  .select-time-range.choose-date .button-select-time { position: absolute; top: 50%; width: 40%; margin: -20px 0 0; font-size: 0.9em; }
  .select-time-range.choose-date .button-select-date { left: 8%; }
  .select-time-range.choose-date .button-select-rime { left: 58%; }

/* Page: winner
 * ------------ */
  .content-winner .content-header { display: none; }
  .content-winner .scroll-pane { top: 53px; bottom: 20px; }

  .content-winner .full-winner-list > li { border: 0; }
  .content-winner .full-winner-list .container { width: 100%; padding: 0 !important; }
  .content-winner .full-winner-list h3 { font-size: 1.5em; margin-bottom: 0; }
  .content-winner .full-winner-list .time { position: static; font-size: 3.5em; display: block; }
  .content-winner .member-list { margin: -13px -20px 0; }
  .content-winner .member-list li { font-size: 1.3em; height: 1.8em; line-height: 1.8em; }
  .content-winner .member-list .index { width: 2.63em; height: 1.8em; line-height: 1.8em; text-indent: 15px; }


  .content-gallery .content-header { display: none; }
  .content-gallery .content-wrapper { overflow: auto; }
  .content-gallery .content-wrapper .container { position: fixed; top: 53px; bottom: 20px; width: 100%; height: auto; }

  .vdo-list .vdo.up .title { top: 65%; }
  .vdo-list .vdo.down .title { top: 65%; }
  .vdo-list .vdo.up .open-vdo { top: 0%; }
  .vdo-list .vdo.down .open-vdo { top: 0%; }

/** Select time */
  .choose-date .clock .time-label { position: absolute; left: 50%; margin: 0 0 0 -95px; width: 190px; height: 190px; background: url(../images-m/bg-select-time.png); }
  .choose-date .clock .form-text.timepicker { margin-top: 50px; font-size: 5em; }
  .choose-date .button-select-time { text-indent: 0; text-align: center; position: absolute; left: 50%; bottom: -60px; width: 100%; height: 40px; line-height: 40px; font-size: 1.4em; background: #ffae02; border-radius: 5px; margin-left: -95px; }
  .choose-date .button:after { content: ""; position: absolute; width: 15px; height: 15px; background: url(../images-m/icon-arrow-down.png); right: 5px; top: 50%; margin-top: -7px; }

  .choose-date .clock .date-label { position: absolute; left: 50%; top: 270px; width: 190px; margin-left: -95px }
  .choose-date .button-select-date { position: absolute; left: 50%; top: 0; width: 100%; margin-left: -95px; height: 40px; border-radius: 5px; background: #ffae02; }
  .choose-date .clock .form-text.datepicker { position: relative; z-index: 2; }

  .choose-date .button-join { top: 330px; }

/** Page: gallery */
  .content-gallery:after { display: none; }
  .vdo-list .vdo-wrapper > ul { width: 100%; }
  .vdo-list .vdo { width: 160px; height: 195px; }
  .vdo-list .vdo .title .time { position: relative; }

/*@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { */
  .app-header .app-logo { background-image: url(../images-m/logo-app@2x.png); -webkit-background-size: 185px 40px; background-size: 185px 40px; }
  .logo-scb { background-image: url(../images-m/logo-scb@2x.png); -webkit-background-size: 53px 53px; background-size: 53px 53px; }
  .button-menu-toggle { background-image: url(../images-m/button-menu@2x.png); -webkit-background-size: 53px 53px; background-size: 53px 53px; }
/*}*/

.vdo-list .vdo .title .time { font-size: 1.6em; margin-top: 15px; }
.vdo-list .vdo .title .time:after { margin-top: 0; }
.vdo-list .vdo .title .date { font-size: 1em; margin-top: -6px; }


.disable-landscape {
  display: none;
  background-color: #4f2b82;
  position: fixed; width: 100%; height: 100%;
  top: 0; left: 0; z-index: 10;
}
.disable-landscape strong { 
  position: absolute; 
  height: 25px; line-height: 25px; 
  top: 50%; left: 0; right: 0; 
  text-align: center; 
  margin-top: -13px; 
  color: #FFF;
}

@media screen and (orientation:portrait) {
  .disable-landscape { display: none; }
  .app-header, .app-body, .app-footer, .bg-vdo { display: block; }
}
@media screen and (orientation:landscape) {
  .disable-landscape { display: block; }
  .app-header, .app-body, .app-footer, .bg-vdo { display: none; }
}