﻿@using Website;
@using Website.Models;
@model List<Website.Models.Gallery>

@{
    ViewBag.Title = "Gallery";
    ViewData["BodyID"] = "gallery";

    long count = Model.Count;
    int rowsCount = (int)Math.Ceiling(count / 6.0);
}

<div class="app-body content-gallery" id="gallery">
  
  <div class="content-header">
    <div class="container">
      <h2 class="app-logo"></h2>
      <h3>รวมวีดีโอ<strong>ไม่คาดคิด</strong></h3>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="container">
    
      <div class="scroll-pane" id="custom-scroll">
        <div class="scrollbar">
          <div class="track"><div class="thumb"></div></div>
        </div>
        <div class="viewport">
          <div class="overview">
            <ul class="vdo-list">
              @for(int i = 0; i < rowsCount; i++) {
                <li class="vdo-wrapper card-viewport">
                    <ul>
                        @for(int j = 0; j < 6; j++) {
                            int index = i + j;
                            if (index >= count) { break; }
                            Gallery gallery = Model[index];
                            
                            <li class="random-color ease-inout-quint card vdo @(index == 2 || index == 3 ? "up" : "down")">
                                <a href="javascript:open_player('@gallery.VDOURL', '@gallery.EventDate.ToString("HH:mm")', null, @gallery.GalleryID, 'http:@WebConfig.BaseURL', '@("Asset/VDOThumb/" + gallery.Thumb)');" class="open-vdo"><img src="@Url.Content(WebConfig.SourceFolder + "VDOThumb/" + gallery.Thumb)"></a>
                                <span class="title">
                                    <span class="time ease-in-circ">@gallery.EventDate.ToString("HH:mm")</span>
                                    <span class="date ease-in-circ">@gallery.EventDate.ToString("dd MMM", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH"))</span>
                                </span>
                            </li>
                        }
                    </ul>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

@section Scripts {
    <script>
        $(function () {
            if (window.location.hash.length > 1) {
                var id = parseInt(window.location.hash.replace('#', ''));
                if (id != NaN) {
                    $.ajax({
                        url: '@Url.Action("GetGallery")',
                        type: 'post',
                        dataType: 'json',
                        data: { "id": id },
                        success: function (rs) {
                            if (rs.message == 'true' && rs.result != null) {
                                var gallery = rs.result;
                                open_player(gallery.VDOURL, gallery.EventDate, null, gallery.GalleryID, 'http:@WebConfig.BaseURL', 'Asset/VDOThumb/' + gallery.Thumb);        
                            }
                        }
                    });
                }
            }
        });
    </script>
}
