﻿@using Website;

<div id="fb-root"></div>
<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({ appId: '@WebConfig.FacebookApplicationID', status: true, cookie: true, xfbml: true });

        //FBLogin();

        FB.Canvas.setAutoGrow();
        //FB.Canvas.setSize({ height: 1570 });

        FB.Event.subscribe('edge.create', function (href, widget) {
            CloseLikeFanpage();           
            console.log("Edge Create");
            $.post('@WebConfig.BaseURL' + 'Game/LikeFB', { FBUID: FB.getUserID() }, function () {

            });

        });

        FB.Canvas.getPageInfo(function (info) {
            //var top = 350;

            //if (parseInt(info.clientHeight) > 620) {
            //    top = ((info.clientHeight - 38) / 2 + info.scrollTop);
            //}
        });

        if (window.popupGalleryAdjust) {
            FB.Canvas.getPageInfo(window.popupGalleryAdjust);
            delete window.popupGalleryAdjust;
        }
    };
    (function () {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>