﻿@using Website;

@if (!String.IsNullOrEmpty(WebConfig.GoogleAnalyticCode))
{        
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@WebConfig.GoogleAnalyticCode', '@WebConfig.GoogleAnalyticTrackDomain');
        //if(auth.user.isSignedIn()){
            //ga('set', '&uid', auth.user.getId());
        //}
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        function trackPageView(page) {
            if (window.ga) {
                ga('send', 'pageview', page);
            }
        }

        function trackEvent(group, action, label) {
            if (window.ga) {
                ga('send', 'event', group, action, label);
            }
        }
    </script>
} else {
    <script type="text/javascript">
        function trackPageView(page) {
            if (window.ga) {
                //ga('send', 'pageview', page);
            }
        }

        function trackEvent(group, action, label) {
            if (window.ga) {
                //ga('send', 'event', group, action, label);
            }
        }
    </script>
}