﻿@using Website;

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SCBLife One Minute ชีวิตคิดไม่ถึง</title>

    <meta property="og:image" content="@WebConfig.FacebookShareImage"/>
    <meta property="og:title" content="@WebConfig.FacebookShareTitle"/>
    <meta property="og:description" content="@WebConfig.FacebookShareDescription"/>
    <meta property="og:url" content="http:@WebConfig.BaseURL"/>
    <meta property='og:type' content="blog" />
    <meta property="fb:admins" content=""/>

    <!-- Custom styles for this template -->
    @Styles.Render("~/css/picker")
    @Styles.Render("~/css/css")

    @RenderSection("styles", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("head", required: false)
  </head>
  <body class="@ViewData["BodyID"] desktop-ui">
    @Html.Partial("_GoogleAnalyticsPartial")
    @Html.Partial("_FacebookInitPartial")
    @*@Html.Partial("_SharedJavascriptPartial")*@

    @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/scripts/jquery.min.js")
    @Scripts.Render("~/scripts/jquery-migrate-1.2.1.min.js")
    @Scripts.Render("~/scripts/jquery.form.js")
    @Scripts.Render("~/scripts/jquery.validate.js")

    @Scripts.Render("~/scripts/pace.min.js")
    @Scripts.Render("~/scripts/d3.min.js")
    @Scripts.Render("~/scripts/vex.combined.min.js")
    
    @Scripts.Render("~/scripts/picker/picker.js")
    @Scripts.Render("~/scripts/picker/picker.date.js")
    @Scripts.Render("~/scripts/picker/picker.time.js")
    @Scripts.Render("~/scripts/picker/legacy.js")

    @Scripts.Render("~/scripts/tinyscroll/jquery.tinyscrollbar.js")
    @Scripts.Render("~/scripts/velocity.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @Scripts.Render("~/scripts/main.js")

    @RenderSection("scripts", required: false)

    @RenderSection("bodyextend", required: false)
  </body>
</html>






    

