﻿@using Website;
@using Website.Models;
@using Website.Services;

@{
    Account account = null;
    if (WebContext.Session_AccountID.HasValue) { account = new AccountService().GetByID(WebContext.Session_AccountID.Value); }

    string avatarPath = Url.Content("~/images/default-user-icon.jpg");
    if (account != null && account.Type == 1) { avatarPath = account.FBPicSquare; }
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320">
    <title>SCBLife One Minute ชีวิตคิดไม่ถึง</title>

    <meta property="og:image" content="@WebConfig.FacebookShareImage"/>
    <meta property="og:title" content="@WebConfig.FacebookShareTitle"/>
    <meta property="og:description" content="@WebConfig.FacebookShareDescription"/>
    <meta property="og:url" content="http:@WebConfig.BaseURL"/>
    <meta property='og:type' content="blog" />
    <meta property="fb:admins" content=""/>

    <!-- Custom styles for this template -->
    @Styles.Render("~/css/picker")
    @Styles.Render("~/css/css_mobile")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @section styles{
        @RenderSection("styles", required: false)
    }

    @RenderSection("head", required: false)
  </head>
<body class="mobile-ui">
    @Html.Partial("_GoogleAnalyticsPartial")
    @Html.Partial("_FacebookInitPartial")

    <div class="contain-wrapper">
      
        <div class="app-header">
          <div class="container">
            <h1 class="logo logo-scb docs-heading"><a href="@Url.Action("index", "home")" class="scblife">SCBLife</a><a href="#scb" name="scb" class="anchor">
              <span class="anchor-target" id="scb"></span>
              <span class="glyphicon glyphicon-link"></span>
            </a></h1>
            <h2 class="app-logo">SCBLife One Minute ชีวิตคิดไม่ถึง</h2>
            <a href="#" class="button button-menu-toggle"></a>
            <div class="nav nav-top ease-inout-quint">
              <h3>Menu</h3>
              <ul>
                <li><a href="@Url.Action("index", "home")" @IsActive("home") >หน้าแรก</a></li>
                <li><a href="javascript:selectDate();" @IsActive("join") >ร่วมสนุก</a></li>
                <li><a href="@Url.Action("index", "howto")" @IsActive("howto") >วิธีการร่วมสนุก</a></li>
                <li><a href="@Url.Action("index", "gallery")" @IsActive("gallery")>รวมวีดีโอไม่คาดคิด</a></li>
                <li><a href="@Url.Action("index", "winner")" @IsActive("winner")>ประกาศผล</a></li>
                @*<li><a href="#">Goal of life</a></li>*@
                <li class="facebook-link"><a href="javascript:share();">Facebook</a></li>
                @if(account != null) {
                <li class="user-box">
                  <span class="user-name">@(account.Type == 1 ? account.FBFullname : account.Firstname + " " + account.Lastname)</span>
                  <a href="@Url.Action("logout", "account")" class="button button-logout">ออกจากระบบ</a>
                </li>
                }
              </ul>
              <div class="menu-overlay"></div>
            </div>
          </div>
        </div>
      
        @RenderBody()
    </div>

    <div class="bg-vdo">
      
    </div>
  
    <div class="app-footer">
      <div class="container">
        <p class="copyright">Copyright by SCBLife 2014 / SCB LIFE ONE MINUTE</p>
      </div>
    </div>
    <div class="disable-landscape">
        <strong>กรุณาวางโทรศัพท์แนวตั้ง</strong>
    </div>

    <script type="template" id="modal-invite">
    <div class="header"><h3>กรอกอีเมล์เพื่อชวนเพื่อน</h3><a href="#" class="vex-close"></a></div>
    <div class="content">
      <div class="invite-area">
        <h3>กรอกอีเมล์<span class="hilight">เพื่อน</span></h3>
        <form id="frm-invite" action="@Url.Action("invite", "join")" class="form" method="post">
          <div class="form-row">
            <label class="form-label">อีเมล์ 1</label>
            <input id="txt-email1" type="text" name="email1" class="form-text">
          </div>
          <div class="form-row">
            <label class="form-label">อีเมล์ 2</label>
            <input id="txt-email2" type="text" name="email2" class="form-text">
          </div>
          <div class="form-row">
            <label class="form-label">อีเมล์ 3</label>
            <input id="txt-email3" type="text" name="email3" class="form-text">
          </div>
          <div class="form-row submit-row">
            <input type="submit" class="button button-send" value="Invite">
          </div> 
        </form>
      </div>
    </div>
    </script>

    <script type="template" id="modal-register">
    <div class="header"><h3>กรุณาลงทะเบียนเพื่อใช้ในการรับรางวัล</h3><a href="#" class="vex-close"></a></div>
    <div class="content">
      <div class="register-area">
        <h3>รายละเอียด<span class="hilight">ของคุณ</span></h3>
        <form id="frm-register" action="@Url.Action("register", "account")" class="form" method="post">
          <div class="form-row row-half">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-text">
          </div>
          <div class="form-row row-half">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-text">
          </div>
          <div class="form-row row-half row-newline">
            <label for="firstname" class="form-label">ชื่อ</label>
            <input type="text" name="firstname" class="form-text">
          </div>
          <div class="form-row row-half">
            <label for="lastname" class="form-label">นามสกุล</label>
            <input type="text" name="lastname" class="form-text">
          </div>
          <div class="form-row row-half">
            <label for="telephone" class="form-label">หมายเลขโทรศัพท์</label>
            <input type="text" name="telephone" class="form-text">
          </div>
          <div class="form-row row-half">
            <label for="email" class="form-label">อีเมล์</label>
            <input name="email" class="form-text" type="text">
          </div>
          <div class="form-row submit-row" style="position: relative;">
            <p class="error-message" style="color:red; position:color:red; position:absolute; width:590px; top:10px; margin:0px;"></p>
            <input type="submit" class="button button-register" value="Register">
          </div>

        </form>
      </div>
    </div>
    </script>

    <script type="template" id="modal-login">
    <div class="header"><h3>เข้าสู่ระบบ หรือ ลงทะเบียน</h3><a href="#" class="vex-close"></a></div>
    <div class="content">
      <div class="connect-area">
        <p class="info">กรุณาเข้าสู่ระบบ หรือ ลงทะเบียนด้วย facebook เพื่อร่วมกิจกรรม</p>
        <a href="javascript:fbLogin();" class="button button-facebook-connect">Connect with facebook</a>
        <p class="info info-register"><a href="javascript:open_register();" style="color:#4e2e83" >หรือ ลงทะเบียนผ่านระบบ</a></p>
      </div>
      <div class="login-area">
        <form id="frm-login" action="@Url.Action("login", "account")" class="login-by-email form" method="post">
          <div class="form-row">
            <label for="username" class="form-label">บัญชีผู้ใช้</label>
            <input type="text" name="username" class="form-text">
          </div>
          <div class="form-row">
            <label for="password" class="form-label">รหัสผ่าน</label>
            <input type="password" name="password" class="form-text">
          </div>
          <div class="form-row submit-row">
            <input type="submit" class="button button-login" value="login เข้าสู่ระบบ">
          </div>
        </form>
        <div class="register-by-email">
          <a href="javascript:open_register();" class="button button-register">register ลงทะเบียนผ่านระบบ</a>
        </div>
      </div>
    </div>
    </script>

    <script type="template" id="modal-thankyou">
    <div class="header"><a href="#" class="vex-close"></a></div>
    <div class="content">
      <div class="thankyou-text">
        <h3>ขอบคุณค่ะ</h3>
        <h4>รอลุ้นประกาศผลได้ในวันพรุ่งนี้</h4>
        <p>ร่วมลุ้นรางวัลประจำวันได้ทุกวันเพียงชวนเพื่อเข้ามาร่วมกิจกรรมนี้<br>ยิ่งชวนมาก ยิ่งมีสิทธิ์รับรางวัลมากขึ้น</p>
        <a href="javascript:fbinvite();" class="button button-invite"><i class="icon-fb"></i>Invite Friends</a>
        <a href="javascript:open_invite();" class="button button-invite-email">Send Email</a>
      </div>
    </div>
    </script>

    <script type="template" id="modal-error">
    <div class="header"><a href="#" class="vex-close"></a></div>
    <div class="content">
      <div class="context">
        <p class="message"></p>
      </div>
    </div>
    </script>

    <script type="template" id="modal-confirm">
    <div class="header"><a href="#" class="vex-close"></a></div>
    <div class="content">
      <div class="confirm-text">
        <div class="confirm-data">
          <img class="avatar">
          <p>คุณได้เลือกเวลา</p>
          <span class="time"></span>
        </div>
        <a class="button button-confirm">ตกลง confirm</a>
        <a class="button button-reset">เลือกเวลาใหม่</a>
      </div>
    </div>
    <form action="@Url.Action("selecttime", "join")" method="post">
      <input type="hidden" value="" name="date_submit">
      <input type="hidden" value="" name="time_submit">
    </form>
    </script>

    <script type="template" id="modal-select-date">
    <div class="clock">
      <p class="info">เลื่อนเมาส์เพื่อเลือกเวลา</p>
      <div id="svg">
        <form id="form-select" action="@Url.Action("timeavailable", "join")" method="post" class="form form-select-date">
          <div class="time-label">
            <input type="text" name="time" class="form-text timepicker" id="select-time" value="">
            <label for="select-time" class="button button-select-time">เลือกเวลาที่คุณต้องการ</label>
          </div>
          <div class="date-label">
            <input type="text" name="date" class="form-text datepicker" id="select-date" value="">
            <label for="select-date" class="button button-select-date">เลือกวันที่ที่คุณต้องการ</label>
          </div>
          <input type="submit" class="button button-join">
        </form>
        <form id="form-post" action="@Url.Action("index", "join")" method="get" class="form form-select-date">
          <input type="hidden" value="" name="time">
          <input type="hidden" value="" name="date">
          <input type="hidden" value="confirm" name="status">
        </form>
      </div>
    </div>
    </script>

    <script type="template" id="modal-vdo-player">
    <div class="video-player">
      <h2 class="app-logo"></h2>
      <div class="player">
        <div class="time-box"><span class="time"></span></div>
        <a href="#" class="button button-share"></a>
        <iframe width="790" height="475" id="youtube" src="" frameborder="0"></iframe>
      </div>
    </div>
    </script>

    <script type="template" id="modal-winner">
    <div class="winner-box">
      <h3>รายชื่อผู้ชนะประจำวันที่ <strong></strong></h3>
      <ul class="winner-list"></ul>
    </div>
    <a href="@Url.Action("index", "winner")" class="button button-more">ดูรายชื่อทั้งหมด</a>
    </script>

    <script type="template" id="modal-confirmpass">
    <div class="header"><a class="vex-close" href="#"></a></div>
    <div class="content">
      <div class="context">
        <div class="message" style="color:#4e2e83; font-size:1.4em; left:0; margin-top:-15px; position:absolute; right:0; text-align:center; top:50%;">
            <form id="frm-confirmpass" action="@Url.Action("confirmpassword", "account")" method="post" style="color: #000;">
                อีเมล์ <span style="color: #000;"></span> มีผู้ใช้แล้ว<br>
                กรุณากรอกรหัสผ่านเพื่อยืนยันตัวตน <input type="password" name="password"><br>
                <input type="submit" value="Submit" style="color: #FFF; font-size: 0.6em;margin-top: 10px;position: absolute;top: 100%;margin-left: 5px;" class="button button-logout">
                <a href="javascript:open_register();" style="position: absolute;top: 100%;margin-left: -105px;margin-top: 10px;" class="button button-logout" href="">ลงทะเบียน</a>
            </form>
        </div>
      </div>
    </div>
    </script>


    <!-- TEST MODAL -->
    <div style="position: fixed; bottom: 0; left: 0; z-index: 10; display: none;">
      <button onclick="open_login()">open_login()</button>
      <br> <button onclick="test_error_time()">error_time()</button>
      <br> <button onclick="test_open_login_facebook()">open_login_facebook()</button>
      <br> <button onclick="test_open_thankyou()">open_thankyou()</button>
      <br> <button onclick="test_open_confirm()">open_confirm()</button>
      <br> <button onclick="test_open_selectdate()">open_selectDate()</button>
      <br> <button onclick="test_open_player()">open_player()</button>
      <br> <button onclick="test_open_winner()">open_winner()</button>
      <br> <button onclick="test_open_register()">open_register()</button>
      <br> <button onclick="test_open_invite()">open_invite()</button>
      <br> ...
    </div>

    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/scripts/jquery.min.js")
    @Scripts.Render("~/scripts/jquery-migrate-1.2.1.min.js")
    @Scripts.Render("~/scripts/jquery.form.js")
    @Scripts.Render("~/scripts/jquery.validate.js")

    @Scripts.Render("~/scripts/pace.min.js")
    @Scripts.Render("~/scripts/d3.min.js")
    @Scripts.Render("~/scripts/vex.combined.min.js")
    
    @Scripts.Render("~/scripts/picker/picker.js")
    @Scripts.Render("~/scripts/picker/picker.date.js")
    @Scripts.Render("~/scripts/picker/picker.time.js")
    @Scripts.Render("~/scripts/picker/legacy.js")

    @Scripts.Render("~/scripts/tinyscroll/jquery.tinyscrollbar.js")
    @Scripts.Render("~/scripts/velocity.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @Scripts.Render("~/scripts/main.js")

    
    <script>
        var userpic = '@Html.Raw(avatarPath)';

        $(function () {
            if (window.location.hash.indexOf('login') == 1) {
                selectDate();
                window.location.hash = '';
            } else if (/*isLogin() &&*/ window.location.hash.indexOf('fblogin') == 1) {
                open_login_facebook();
                window.location.hash = '';
            } else if (window.location.hash.indexOf('join') == 1 && isLogin()) {
                timeavailable();
                window.location.hash = '';
            } else if (window.location.hash.indexOf('register') == 1) {
                window.location.hash = '';

                $.ajax({
                    url: '@Url.Action("getfbuser", "account")',
                    type: 'post',
                    dataType: 'json',
                    traditional: true,
                    success: function (rs) {
                        if (rs.message == 'true') {
                            open_register(rs.result.FBFirstname, rs.result.FBLastname, rs.result.FBEmail);
                        }
                    },
                    error: function (er) { open_alert(er.message); }
                });

            } else if (window.location.hash.indexOf('verpass') == 1) {
                open_confirmpass(window.location.hash.substr(9));
                window.location.hash = '';
            }
        });

        function selectDate() {
            if (!isLogin())
                open_login();
            else
                timeavailable();
        }

        function isLogin() {
            var islogin = false;

            $.ajax({
                url: '@Url.Action("IsLogin", "Account")',
                async: false,
                type: 'post',
                dataType: 'json',
                success: function (rs) { if (rs.message == 'true') islogin = rs.result },
                error: function (er) { }
            });

            return islogin;
        }

        function fbinvite() {
            FB.ui({
                method: 'apprequests',
                title: 'One Minute',
                message: 'test',
                max_recipients: 3,
                data: 'xgid'
            }, function (result) {
                if (result.to) { // เก็บ facebook id ที่ส่ง request ไปหา
                    var to = result.to; // array

                    $.ajax({
                        url: '@Url.Action("apprequest", "join")',
                        type: 'post',
                        dataType: 'json',
                        traditional: true,
                        data: { fbRequestID: result.request, to: to },
                        success: function (rs) {
                            vex.close();
                        },
                        error: function (er) { open_alert(er.message); }
                    });
                } else {
                    vex.close();
                }
            });
        }

        function share() {
            var obj = {
                method: 'feed',
                //redirect_uri: '@WebConfig.BaseURL' + '?app_data=' + id,
                link: 'http:@(WebConfig.BaseURL)',
                picture: 'http:@(WebConfig.BaseURL + "images/share_1200x650.jpg")',
                name: 'SCB One Minute ชีวิตคิดไม่ถึง',
                caption: 'http:@WebConfig.BaseURL',
                description: 'ลุ้นรับรางวัลกับเหตุไม่คาดฝัน เพียงเข้ามาเลือก 1 นาที ในแต่ละวันคลิกร่วมสนุกเลย'
            };

            FB.ui(obj);
        }

        function fbLogin() {
            if (FB) {
                FB.login(function (response) {
                    if (response.authResponse) {
                        FB.api('/me?fields=name,first_name,last_name,email,gender,timezone,locale,picture.width(160).height(160)', function (response) {
                            if (response) response.picture = response.picture.data.url;

                            $.ajax({
                                url: '@Url.Action("facebooklogin", "account")',
                                type: 'post',
                                dataType: 'json',
                                data: response,
                                success: function (rs) {
                                    if (rs.message == 'true') {
                                        window.location.hash = 'login';
                                        window.location.reload();
                                    } else if (rs.message == 'false' && rs.result == 'verpass') {
                                        open_confirmpass(response);
                                    } else if (rs.message == 'false') {
                                        window.location = rs.result;
                                        window.location.reload();
                                    }
                                }
                            });
                        });
                    }
                });
            }
        }

        function timeavailable(date) {
            $.ajax({
                url: '@Url.Action("hasrights", "join")',
                type: 'post',
                dataType: 'json',
                data: { date: '3112', time: '1200' },
                success: function (rs) {
                    if (rs.message == 'true') {
                        open_selectDate(date);
                    } else if (rs.result == 'not login') {
                        open_login();
                    } else if (rs.result == 'timelimit') {
                        open_alert('วันนี้คุณได้ใช้สิทธิ์ลงเวลาไปครบแล้ว กรุณากลับมาร่วมสนุกได้อีกครั้งในวันพรุ่งนี้');
                    } else {
                        error_time();
                    }
                },
                error: function (er) { }
            });
        }
    </script>

    @RenderSection("scripts", required: false)
    
  </body>
</html>

@functions{
    public string IsActive(string name)
    {
        if (ViewData["BodyID"] == name) return "class=active"; else return "";
    }
}

