﻿@using Website;
@using Website.Models;
@using Website.Services;
@model List<Website.Models.SelectTimeModel>

@{
    ViewBag.Title = "Archive";
    ViewData["BodyID"] = "archive";

    DateTime selectTime = (DateTime)ViewBag.SelectTime;
    DateTime startTime = (DateTime)ViewBag.StartTime;
    string selectTimeStr = selectTime.ToString("HH:mm");
    string selectDateStr = selectTime.ToString("ddMM");
    string status = ViewBag.Status;

    string avatarPath = Url.Content("~/images/default-user-icon.jpg");
    Account account = null;
    if (WebContext.Session_AccountID.HasValue) { account = new AccountService().GetByID(WebContext.Session_AccountID.Value); }

    if (account != null && account.Type == 1) { avatarPath = account.FBPicSquare; }

}

<div class="app-body content-join content-gallery-range" id="archive">
  <div class="content-header">
    <div class="container">
      <h2 class="app-logo"></h2>
      <h3>ดูช่วง<strong>เวลา</strong></h3>
      <div class="choose-date select-time-range">
        <div class="date-label">
          <input type="text" name="date" class="form-text datepicker" id="select-date" value="@startTime.ToString("ddMM")">
          <label for="select-date" class="button button-select-date">@startTime.ToString("dd MMM", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH"))</label>
        </div>
        <div class="time-label">
          <input type="text" name="time" class="form-text timepicker" id="select-time" value="@startTime.ToString("HHmm")">
          <label for="select-time" class="button button-select-time">@startTime.ToString("HH:mm")</label>
        </div>
      </div>
      <form id="frm-archive" action="@Url.Action("index", "archive")" method="get">
        <input type="hidden" value="@startTime.ToString("ddMM")" name="date">
        <input type="hidden" value="@startTime.ToString("HHmm")" name="time">
      </form> 
    </div>
  </div>
  <div class="content-wrapper">
    <div class="scroll-pane" id="custom-scroll">
      <div class="scrollbar">
        <div class="track"><div class="thumb"></div></div>
        <span class="limit-start">@startTime.ToString("HH:mm")</span>
        <span class="limit-end">@startTime.AddMinutes(59).ToString("HH:mm")</span>
      </div>
      <div class="viewport">
        <div class="overview">
          <ul class="event-list">
            @for(int i = 0; i < 60; i++) {
                List<SelectTimeModel> selects = Model.Where(q => q.Time == startTime).ToList();
                
                <li id="@startTime.ToString("HHmm")" class="event-item  @((i % 2 == 0) ? "odd" : "event")">
                  <div class="container">
                    <span class="date">@startTime.ToString("dd MMM", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH"))</span>
                    <span class="time">@startTime.ToString("HH:mm")</span>

                    @for(int j = 0; j < 3; j++) {
                        if (j < selects.Count) {
                            SelectTimeModel select = selects[j];
                                
                            if(select.Account.Type == 1) {
                                <a href="#" class="random-color profile top"><span>@select.Account.FBFullname</span><span class="avatar"><img src="@Html.Raw(select.Account.FBPicSquare)"></span></a>
                             } else {
                                <a href="#" class="random-color profile top"><span>@(select.Account.Firstname + " " + select.Account.Lastname)</span><span class="avatar"><img src="@Url.Content("~/images/default-user-icon.jpg")"></span></a>
                             }
                        } else { 
                            <a href="javascript:confirm_time('@Html.Raw(avatarPath)', '@startTime.ToString("HH:mm")' , '@selectDateStr');" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                        }
                    }
                  </div>
                </li>
                startTime = startTime.AddMinutes(1);
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <script>
        $(function () {
            if (window.location.hash.indexOf('thank') > -1) {
                open_thankyou()
                window.location.hash = '';
            } else if (window.location.hash.indexOf('timeerror') > -1 && isLogin()) {
                error_time();
                window.location.hash = '';
            } else if (window.location.hash.indexOf('confirm') > -1 && isLogin()) {
                setTimeout(function () {
                    open_confirm(decodeURI('@Html.Raw(avatarPath)'), '@selectTimeStr', '@selectDateStr');
                }, 3000);
            } else if (window.location.hash.indexOf('timelimit') > -1) {
                open_alert('วันนี้คุณได้ใช้สิทธิ์ลงเวลาไปครบแล้ว กรุณากลับมาร่วมสนุกได้อีกครั้งในวันพรุ่งนี้');
                window.location.hash = '';
            }

            setTimeout(function () {
                tinyScrollTo('@selectTime.ToString("HHmm")');
            }, 1500);
        });

        var isCheck = false;
        function confirm_time(avatarPath, time, dateStr) {
            if (!isCheck) {
                isCheck = true;
                $.ajax({
                    url: '@Url.Action("hasrights")',
                    type: 'post',
                    dataType: 'json',
                    data: { date: dateStr, time: time.replace(':', '') },
                    success: function (rs) {
                        if (rs.message == 'true') 
                            open_confirm(avatarPath, time, dateStr);
                        else if (rs.message == 'false' && rs.result == 'timelimit')
                            open_alert('วันนี้คุณได้ใช้สิทธิ์ลงเวลาไปครบแล้ว กรุณากลับมาร่วมสนุกได้อีกครั้งในวันพรุ่งนี้');
                        else if (rs.message == 'false' && rs.result == 'timeerror')
                            open_alert('คุณไม่สามารถเลือกเวลาซ้ำ กรุณาเลือกเวลาใหม่');

                        isCheck = false;
                    },
                    error: function () { isCheck = false; }
                });
            }
        }
    </script>

    @if (status == "confirm") {
        <script>
            $(function () {
                setTimeout(function () {
                    open_confirm(decodeURI('@Html.Raw(avatarPath)'), '@selectTimeStr', '@selectDateStr');
                }, 3000);
            });
        </script>
    }
}