﻿@{
    ViewBag.Title = "How To";
    ViewData["BodyID"] = "howto";
}

<div class="app-body content-howto" id="howto">

  <div class="content-header">
    <div class="container">
      <h2 class="app-logo" style="right: 160px;"></h2>
      <h3>วิธีการร่วมสนุก <strong>และของรางวัล</strong></h3>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="container">
      <div class="scroll-pane" id="full-scroll">
        <div class="scrollbar">
          <div class="track"><div class="thumb"></div></div>
        </div>
        <div class="viewport">
          <div class="overview">
            <div class="how-to">
              
              <h3 style="background: #5d338d; color: #feb300; height: 42px; line-height: 42px; display: inline-block; padding: 0 10px; font-size: 1.6em; margin: 0 0 15px;">วิธีการร่วมสนุก</h3>

              <img src="@Url.Content("~/images/howto-01.png")" width="100%">
              <img src="@Url.Content("~/images/howto-02.png")" width="100%">
              <img src="@Url.Content("~/images/howto-03.png")" width="100%">
              <img src="@Url.Content("~/images/howto-04.png")" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
