﻿@{
    ViewBag.Title = "How To";
    ViewData["BodyID"] = "howto";
}

<div class="app-body content-howto" id="howto">

  <div class="content-wrapper">
    <div class="container" style="width: 100%;">
      <div class="scroll-pane">
        <div class="viewport">
          <div class="overview">
            <div class="how-to" style="padding: 10px;">
              <h3 style="background: #5d338d; color: #feb300; height: 42px; line-height: 42px; display: inline-block; padding: 0 10px; font-size: 1.6em; margin: 0 0 15px;">วิธีการร่วมสนุก</h3>

              <img src="@Url.Content("~/images-m/howto-01.png")" width="100%">
              <img src="@Url.Content("~/images-m/howto-02.png")" width="100%">
              <img src="@Url.Content("~/images-m/howto-03.png")" width="100%">
              <img src="@Url.Content("~/images-m/howto-04.png")" width="100%">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
