﻿@using Website;

@{
    ViewBag.Title = "Index";
}

@section Script{
    <script src="@Url.Content("~/Content/Admin/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btCreate').button({
                icons: {
                    primary: "ui-icon-disk"
                }
            });

            @*$('#searchFrom').datepicker({
                dateFormat: "dd/mm/yy",
                onClose: function (selectdDate) {
                    $('#searchTo').datepicker("option", "minDate", selectdDate);
                }
            }).change(function () {
                $('#Grid').trigger("reloadGrid");
            });

            $('#searchTo').datepicker({
                dateFormat: "dd/mm/yy",
                onClose: function (selectdDate) {
                    $('#searchFrom').datepicker("option", "maxDate", selectdDate);
                }
            }).change(function () {
                $('#Grid').trigger("reloadGrid");
            });

            $('input[name="reset"]').click(function () {
                $('#searchFrom, #searchTo').val('');
                $('#Grid').trigger("reloadGrid");
            });

            $('input[name="export"]').click(function () {
                window.location = '@Url.Action("Export")?fromdate=' + escape($('#searchFrom').val()) + '&todate=' + escape($('#searchTo').val());
            });*@

        });

        function onGridComplate() {
            var data = $("#Grid").jqGrid('getRowData');

            for (var i = 0; i < data.length; i++) {
                var cl = data[i];
            }

            $('.btEdit').button({
                icons: {
                    primary: "ui-icon-pencil"
                }
                , text: false
            });
            $('.btDelete').button({
                icons: {
                    primary: "ui-icon-trash"
                }
                , text: false
            });

            /*$('#Grid').setGridParam({
                postData: {
                    searchFrom: function () {
                        return $('#searchFrom').val();
                    },
                    searchTo: function () {
                        return $('#searchTo').val();
                    }
                }
            });*/

        }

    </script>
}

@section Styles {
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />    

    <style>

    </style>
}

@section MenuControl{
    
    <div style="margin:10px 0;">
        @*From: <input type="text" id="searchFrom" />  &nbsp;&nbsp;
        To: <input type="text" id="searchTo" />
        <input type="button" value="Reset" class="btn" name="reset" />

        <input type="button" value="Export" class="btn" name="export" />*@
    </div>
    @*@Html.ActionLink("Create", "Create", new { typeId = ViewBag.TypeId}, new { @id = "btCreate" })*@
}

<div id="dialog-form"></div>

@(Html.Grid("Grid")
    .SetCaption("")
    .AddColumn(new Column("InviteID").SetWidth(100).SetAlign(Align.Right))
    .AddColumn(new Column("Type").SetWidth(100))
    .AddColumn(new Column("User").SetWidth(200))
    .AddColumn(new Column("Invite Date").SetWidth(150))
    .AddColumn(new Column("Accept").SetWidth(100).SetAlign(Align.Center))
    .AddColumn(new Column("Accept Date").SetWidth(150))
    .AddColumn(new Column("Accept User").SetWidth(200))
    //.AddColumn(new Column("cmd").SetWidth(100).SetAlign(Align.Center))
    
    .SetUrl(Url.Action("GridData", new { typeId = ViewBag.TypeId }))
    .SetAutoWidth(true)
    .SetRowNum(30)
    .SetRowList(new[] { 30, 50, 100, 150 })
    .SetViewRecords(true)
    .SetPager("pager")
    // .SetSearchToolbar(true)
    // .SetSearchOnEnter(true)
    .OnGridComplete("onGridComplate()")
    //.OnRightClickRow("OnRightClickRow(rowid,iRow,iCol,e)")
    .SetHoverRows(false)

 )