﻿@model Website.Models.Account

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Account</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Firstname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Firstname)
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lastname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lastname)
            @Html.ValidationMessageFor(model => model.Lastname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivateCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivateCode)
            @Html.ValidationMessageFor(model => model.ActivateCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActiveDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActiveDate)
            @Html.ValidationMessageFor(model => model.ActiveDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBUID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBUID)
            @Html.ValidationMessageFor(model => model.FBUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBEmail)
            @Html.ValidationMessageFor(model => model.FBEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBAccessToken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBAccessToken)
            @Html.ValidationMessageFor(model => model.FBAccessToken)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBSessionKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBSessionKey)
            @Html.ValidationMessageFor(model => model.FBSessionKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBSecret)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBSecret)
            @Html.ValidationMessageFor(model => model.FBSecret)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBSIG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBSIG)
            @Html.ValidationMessageFor(model => model.FBSIG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBFirstname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBFirstname)
            @Html.ValidationMessageFor(model => model.FBFirstname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBLastname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBLastname)
            @Html.ValidationMessageFor(model => model.FBLastname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBUsername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBUsername)
            @Html.ValidationMessageFor(model => model.FBUsername)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBFriendCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBFriendCount)
            @Html.ValidationMessageFor(model => model.FBFriendCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBProxiedEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBProxiedEmail)
            @Html.ValidationMessageFor(model => model.FBProxiedEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBPicSquare)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBPicSquare)
            @Html.ValidationMessageFor(model => model.FBPicSquare)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBPicBig)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBPicBig)
            @Html.ValidationMessageFor(model => model.FBPicBig)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBProfileURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBProfileURL)
            @Html.ValidationMessageFor(model => model.FBProfileURL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBActivities)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBActivities)
            @Html.ValidationMessageFor(model => model.FBActivities)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBBirthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBBirthday)
            @Html.ValidationMessageFor(model => model.FBBirthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBBirthdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBBirthdate)
            @Html.ValidationMessageFor(model => model.FBBirthdate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBBooks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBBooks)
            @Html.ValidationMessageFor(model => model.FBBooks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBCurrentLocationCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBCurrentLocationCity)
            @Html.ValidationMessageFor(model => model.FBCurrentLocationCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBCurrentLocationState)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBCurrentLocationState)
            @Html.ValidationMessageFor(model => model.FBCurrentLocationState)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBCurrentLocationCountry)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBCurrentLocationCountry)
            @Html.ValidationMessageFor(model => model.FBCurrentLocationCountry)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBCurrentLocationZip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBCurrentLocationZip)
            @Html.ValidationMessageFor(model => model.FBCurrentLocationZip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBInterests)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBInterests)
            @Html.ValidationMessageFor(model => model.FBInterests)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBLocale)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBLocale)
            @Html.ValidationMessageFor(model => model.FBLocale)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBMovies)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBMovies)
            @Html.ValidationMessageFor(model => model.FBMovies)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBMusic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBMusic)
            @Html.ValidationMessageFor(model => model.FBMusic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBFullname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBFullname)
            @Html.ValidationMessageFor(model => model.FBFullname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBPolitical)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBPolitical)
            @Html.ValidationMessageFor(model => model.FBPolitical)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBQuotes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBQuotes)
            @Html.ValidationMessageFor(model => model.FBQuotes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBRelationshipStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBRelationshipStatus)
            @Html.ValidationMessageFor(model => model.FBRelationshipStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBReligion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBReligion)
            @Html.ValidationMessageFor(model => model.FBReligion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBSex)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBSex)
            @Html.ValidationMessageFor(model => model.FBSex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBTimezone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBTimezone)
            @Html.ValidationMessageFor(model => model.FBTimezone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBTV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBTV)
            @Html.ValidationMessageFor(model => model.FBTV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBProfileUpdateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBProfileUpdateTime)
            @Html.ValidationMessageFor(model => model.FBProfileUpdateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FBAID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FBAID)
            @Html.ValidationMessageFor(model => model.FBAID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdateDate)
            @Html.ValidationMessageFor(model => model.UpdateDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
