﻿@model Website.Models.Account

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Account</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Firstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lastname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivateCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivateCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActiveDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActiveDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBUID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBUID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBAccessToken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBAccessToken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBSessionKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBSessionKey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBSecret)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBSecret)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBSIG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBSIG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBFirstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBFirstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBLastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBLastname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBUsername)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBUsername)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBFriendCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBFriendCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBProxiedEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBProxiedEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBPicSquare)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBPicSquare)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBPicBig)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBPicBig)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBProfileURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBProfileURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBActivities)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBActivities)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBBirthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBBirthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBBirthdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBBirthdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBBooks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBBooks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBCurrentLocationCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBCurrentLocationCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBCurrentLocationState)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBCurrentLocationState)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBCurrentLocationCountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBCurrentLocationCountry)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBCurrentLocationZip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBCurrentLocationZip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBInterests)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBInterests)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBLocale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBLocale)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBMovies)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBMovies)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBMusic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBMusic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBFullname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBFullname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBPolitical)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBPolitical)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBQuotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBQuotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBRelationshipStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBRelationshipStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBReligion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBReligion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBSex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBSex)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBTimezone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBTimezone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBTV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBTV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBProfileUpdateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBProfileUpdateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FBAID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FBAID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
