﻿
@{
    ViewBag.Title = "FB Account";
}

@section Script{
    <script src="@Url.Content("~/Content/Admin/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#searchFrom').datepicker({
                dateFormat: "dd/mm/yy",
                onClose: function (selectdDate) {
                    $('#searchTo').datepicker("option", "minDate", selectdDate);
                }
            }).change(function () {
                $('#Grid').trigger("reloadGrid");
            });

            $('#searchTo').datepicker({
                dateFormat: "dd/mm/yy",
                onClose: function (selectdDate) {
                    $('#searchFrom').datepicker("option", "maxDate", selectdDate);
                }
            }).change(function () {
                $('#Grid').trigger("reloadGrid");
            });

            $('input[name="reset"]').click(function () {
                $('#searchFrom, #searchTo').val('');
                $('#Grid').trigger("reloadGrid");
            });

            $('input[name="export"]').click(function () {
                window.location = '@Url.Action("Export")?fromdate=' + escape($('#searchFrom').val()) + '&todate=' + escape( $('#searchTo').val() ); 
            });
           
        });

        function onGridComplate() {

            $('#Grid').setGridParam({
                postData: {
                    searchFrom: function () {
                        return $('#searchFrom').val();
                    },
                    searchTo: function () {
                        return $('#searchTo').val();
                    }
                }
            });

        }

</script>

}

@section styles {
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
}

@section MenuControl{
    <div style="margin:10px 0;">
        @*From: <input type="text" id="searchFrom" />  &nbsp;&nbsp;
        To: <input type="text" id="searchTo" />
        <input type="button" value="Reset" class="btn" name="reset" />

        <input type="button" value="Export" class="btn" name="export" />*@
    </div>
}

@(Html.Grid("Grid")
    .SetCaption("")
       
    .AddColumn(new Column("AccountID").SetWidth(40).SetAlign(Align.Right).SetSearch(false)) 
    .AddColumn(new Column("Type").SetWidth(100)) 
    .AddColumn(new Column("FBUID").SetWidth(120).SetAlign(Align.Right)) 
    .AddColumn(new Column("Firstname")) 
    .AddColumn(new Column("Lastname")) 
    .AddColumn(new Column("Email").SetSearch(false))        
    .AddColumn(new Column("CreateDate").SetAlign(Align.Center))
    .AddColumn(new Column("UpdateDate").SetAlign(Align.Center))


    .SetUrl(Url.Action("GridData"))
    .SetAutoWidth(true)
    .SetRowNum(30)
    .SetRowList(new[] { 30, 50, 100, 150 })
    .SetViewRecords(true)
    .SetPager("pager")
    //SetSearchToolbar(true)
    .SetSearchOnEnter(true)
    .OnGridComplete("onGridComplate()")
    .SetHoverRows(false)


 )
