﻿@model IEnumerable<Website.Models.Account>

@{
    ViewBag.Title = "Account";
}


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
       
       
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
       
        
        <th>
            @Html.DisplayNameFor(model => model.FBUID)
        </th>
       
        
        
        
       
        
        <th>
            @Html.DisplayNameFor(model => model.FBUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FBFriendCount)
        </th>
        
       
       
       
        <th>
            @Html.DisplayNameFor(model => model.FBProfileUpdateTime)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
       
       
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FBUID)
        </td>
       
       
        
        <td>
            @Html.DisplayFor(modelItem => item.FBUsername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FBFriendCount)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.FBProfileUpdateTime)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        
    </tr>
}

</table>
