.Gridfilter{
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 18px;
    padding: 8.5px;
}
.filter_element{
	float: left;
    margin-right: 15px;
}