.lang_en{display:none;}

#ingredient_frm_th,#ingredient_frm_en{margin:0;}
#ingredient_frm_th li,#ingredient_frm_en li{list-style:none;margin:3px 0;display:block}

.remove_ingredient{ display: inline-block;margin:2px 0 0 5px;}
#youtube_show{margin-top: 20px;}
.relete_product_list li{list-style: none outside none;  width: 300px;float:left;}
li{
	list-style: none;
}


#cateFilter{
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 18px;
    padding: 8.5px;
}
#cateFilterElement{
	margin-top: 15px;
}
#cateFilter h3{
	font-size: 12px;
	text-decoration: underline;
	color: #808080;
}
.cateParentId_0{
	float: left;margin-left: 30px;
}