.lang_en{display:none;}

#ingredient_frm_th,#ingredient_frm_en{margin:0;}
#ingredient_frm_th li,#ingredient_frm_en li{list-style:none;margin:3px 0;display:block}

.remove_ingredient{ display: inline-block;margin:2px 0 0 5px;}
#youtube_show{margin-top: 20px;}
.relete_product_list li{list-style: none outside none;  width: 300px;float:left;}