body { 
  font-size: 11px;
  overflow:hidden;
}

.wrapper{}
.clear{ clear:both;}

#SystemContainer{}

#Footer{bottom: 0;
    color: #CCCCCC;
    font-size: 9px;
    height: 14px;
    left: 0;
    padding: 3px;
    position: absolute;
    right: 0;background-color: #666666;text-shadow: 0 1px 0 #444444;}
#MainNavigator{margin-top:20px; text-shadow: 0 1px 0 #FFFFFF;}
#MainNavigator ul{margin: 2px 0  10px 15px;}
#MainNavigator a{color:#000;color: #333333;
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 130px;}
#MainNavigator h3{
	background: url("../images/toggle_arrow_down.png") no-repeat scroll 0 3px transparent;
    color: #999999;
    cursor: pointer;
    font-size: 11px;
    margin: 0;
    padding-left: 15px;
    text-transform: uppercase;
    line-height: 16px;
	
}
#HeadBox{background-color: #666666;
    color: #FFFFFF;
    height: 30px;
    padding: 0 15px;
    text-shadow: 0 1px 0 #444444;line-height: 28px;}
#ProjectName{font-size:18px;font-weight:bold;text-shadow: 0 1px 0 #444444;}

#cmsControlTitle{ color: #FFFFFF;
    font-size: 14px;
    line-height: 29px;
    margin-left: 15px;
    text-shadow: 0 1px 0 #555555;}
#cmsControlTitle span{ font-size : 0.6em;}

#cmsMainMenu{ 
	
	 background-color: #D4DDE5;
    border-right: 1px solid #C3C3C3;
    bottom: 20px;
    
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 30px;
    width: 200px;
	
}
#cmsContent{ background-color: #FFFFFF;
    bottom: 20px;
    left: 201px;
    position: absolute;
    right: 0;
    top: 30px;}
#cmsControl{background-color: #7E7E7E;
    color: #FFFFFF;
    font-size: 13px;
    height: 29px;
    overflow: hidden;}
#cmsMainMenu li{list-style:none;}
#menu-control{background-color: #E7E7E7;
    border-bottom: 1px solid #CCCCCC;
    height: 40px;
    min-width: 680px;
    position: relative;
    padding-left: 100px;
    padding-top:10px;
}
#menu-control li{display:block; float:left;height:50px; margin:2px; list-style:none;}
#menu-control li a{padding:3px 0 0 0;display:block; height:50px;line-height:15px;text-align:center;text-decoration:none;font-weight:normal; font-size:11px;}
#menu-control li a:hover{ color:#CC181E;filter:alpha(opacity=70);-moz-opacity:.70;opacity:.70;}

#contentContain{  padding:20px;bottom: 0;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 76px;}

.menu_control{margin-top:10px;}

.salmon-bt-add{background-image:url(../images/icon/icon-32-new.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-edit{background-image:url(../images/icon/icon-32-edit.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-remove{background-image:url(../images/icon/icon-32-delete.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-save{background-image:url(../images/icon/icon-32-save.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-apply{background-image:url(../images/icon/icon-32-apply.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-cancel{background-image:url(../images/icon/icon-32-cancel.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-archive{background-image:url(../images/icon/icon-32-archive.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-unarchive{background-image:url(../images/icon/icon-32-unarchive.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-preview{background-image:url(../images/icon/icon-32-preview.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-pending{background-image:url(../images/icon/icon-32-menu.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-export{background-image:url(../images/icon/icon-32-export.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-download{background-image:url(../images/icon/icon-32-download.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}
.salmon-bt-send{background-image:url(../images/icon/icon-32-send.png);background-repeat:no-repeat;display:block;width:32px;height:32px;margin:0 auto;}

.ico {
    background-image: url("../images/ico_cog.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    display: block;
    line-height: 20px;
    list-style: none outside none;
    min-height: 16px;
    min-width: 16px;
    padding-left: 24px;
}
.ico_dashboard {
    background-image: url("../images/ico_house.png");
}
.ico_pages {
    background-image: url("../images/ico_page_white_stack.png");
}
.ico_blocks {
    background-image: url("../images/ico_application_view_tile.png");
}
.ico_navigation {
    background-image: url("../images/ico_sitemap_color.png");
}
.ico_assets {
    background-image: url("../images/ico_pictures.png");
}
.ico_sitevariables {
    background-image: url("../images/ico_page_white_code.png");
}
.ico_notes {
    background-image: url("../images/ico_note.png");
}
.ico_tools {
    background-image: url("../images/ico_wrench.png");
}
.ico_module {
    background-image: url("../images/ico_cog.png");
}
.ico_other {
    background-image: url("../images/ico_cog.png");
}
.ico_users {
    background-image: url("../images/ico_status_online.png");
}
.ico_manage_cache {
    background-image: url("../images/ico_page_lightning.png");
}
.ico_manage_activity {
    background-image: url("../images/ico_book_open.png");
}
.ico_save {
    background-image: url("../images/ico_disk.png");
}
.ico_duplicate {
    background-image: url("../images/ico_page_copy.png");
}
.ico_view {
    background-image: url("../images/ico_layout_content.png");
}
.ico_publish {
    background-image: url("../images/ico_page_green.png");
}
.ico_unpublish {
    background-image: url("../images/ico_page_red.png");
}
.ico_activate {
    background-image: url("../images/ico_page_green.png");
}
.ico_deactivate {
    background-image: url("../images/ico_page_red.png");
}
.ico_delete {
    background-image: url("../images/ico_page_delete.png");
}
.ico_create {
    background-image: url("../images/ico_page_add.png");
}
.ico_table {
    background-image: url("../images/ico_table.png");
}
.ico_tree {
    background-image: url("../images/ico_vert_tree.png");
}
.ico_info {
    background-image: url("../images/ico_information.png");
}
.ico_warn {
    background-image: url("../images/ico_error.png");
}
.ico_success {
    background-image: url("../images/ico_accept.png");
}
.ico_error {
    background-image: url("../images/ico_cancel.png");
}
.ico_yes {
    background-image: url("../images/ico_accept.png");
}
.ico_no {
    background-image: url("../images/ico_cancel.png");
}
.ico_cancel {
    background-image: url("../images/ico_cancel.png");
}
.ico_permissions {
    background-image: url("../images/ico_key.png");
}
.ico_remove_line {
    background-image: url("../images/ico_cancel.png");
    float: right;
}
.ico_view_all {
    background-image: none;
    line-height: 22px;
    padding-left: 5px;
}
.ico_refresh {
    background-image: url("../images/ico_arrow_refresh.png");
}
.ico_users_send_email {
    background-image: url("../images/ico_email_go.png");
}
.ico_precedence {
    background-image: url("../images/table_row_insert.png");
}
.ico_pages_upload, .ico_navigation_upload, .ico_blocks_upload {
    background-image: url("../images/ico_page_white_get.png");
}

#tableFrm th{width:150px;text-align:right;}
#tableFrm .frm_text{width:350px;}
#tableFrm .frm_text_short{width:250px;}
#tableFrm .frm_textarea{width:350px;height:50px;}
#lang_frm{text-align:right;}

.image_size{color: #999999; margin-left: 10px;}

#contentContain .editor-label label
{
    width: 150px;
    font-weight: bold;
    float: left;
    clear:left;
    margin: 9px 0 0;
}

#contentContain .editor-field
{
    font-weight: bold;
    float: left;
    margin: 5px 0;
}

.icon-32-export {
    background-image: url("../images/icon/icon-32-export.png");
    border: 1px solid #CCCCCC;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display:block;
    text-indent: -9999px;
}