body {
    
    color: #333333;
    font-size: 14px;
   background: url("images/bg_body.gif") repeat scroll left top #F4F4F4;
   text-shadow: 1px 1px 1px #c0c0c0;
}
h1 {
    font-size: 56px;
}
h2 {
    color: #AAAAAA;
    font-size: 20px;
    padding: 0 0 40px;
}
h2 span {
    color: #FFA800;
}
a {
    color: #777777;
}
a:hover {
    color: #222222;
}
p {
    padding: 5px 0;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

.form_wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 7px #CCCCCC;
    font-size: 16px;
    margin: 0 auto;
    width: 350px;
}
.form_wrapper h3 {
   
    border-bottom: 1px solid #DDDDDD;
	text-shadow: 1px 1px 1px #C0C0C0;
    font-size: 25px;
    padding: 20px 30px;
	border-right: none !important;
	border-left: none !important;
}
.form_wrapper form {
    
    display: none;
}
.form_wrapper .column {
    float: left;
    width: 47%;
}

.form_wrapper a {
    color: #777777;
    font-size: 12px;
    text-decoration: none;
}
.form_wrapper a:hover {
    color: #000000;
}
.form_wrapper label {
    display: block;
    margin: 10px 0 0;
    padding: 10px 30px 0;
}
.form_wrapper input[type="text"], .form_wrapper input[type="password"] {
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 8px #F0F0F0;
    display: block;
    font-size: 16px;
    margin: 5px 30px 0;
    padding: 9px;
    width: 76%;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="password"]:focus {
    background: none repeat scroll 0 0 #FEFFEF;
}
.form_wrapper .bottom {
    
	padding:15px 34px 15px 30px;
    clear: both;
    color: #FFFFFF;
    margin-top: 20px;
	border-top: 1px solid #FAFAFA;
	border-right: none !important;
	border-left: none !important;
   
}

#loginResp{ width: 76%;margin: 15px auto 0;padding-bottom: 0; display:none;}

