﻿@model Website.Models.VDOBackground

@{
    ViewBag.Title = "Create Content";
}

@section MenuControl{
   
    @Html.ActionLink("Save", "#", new { typeId = ViewBag.TypeId}, new { @id = "btCreate" })

}

@using (Html.BeginForm("Submit", "VDOBackground", new { }, FormMethod.Post, new { @id = "ContentForm", enctype = "multipart/form-data" }))
{
    
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.VDOBackgroundID)

    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.VDOID, "Youtube ID")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VDOID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @*Html.EditorFor(model => model.EventDate, new { @class = "eventdate" })*@
            <input type="text" value="@Model.StartTime" name="StartTime" id="StartTime" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @*Html.EditorFor(model => model.EventDate, new { @class = "eventdate" })*@
            <input type="text" value="@Model.EndTime" name="EndTime" id="EndTime" />
        </div>
    </div>

}

@section Styles {
    <link type="text/css" href="~/content/admin/Scripts/jquery/jquery-ui-timepicker-addon.css" rel="stylesheet" />

    <style>

        #Title {
            width : 400px
        }

        #Detail {
            width : 400px;
            height : 50px;
        }

        .editor-field {
            clear:both;
        }
        span.text {
            border: 1px solid #CCCCCC;
            border-radius: 3px 3px 3px 3px;
            color: #808080;
            display: inline-block;
            font-size: 13px;
            line-height: 18px;
            padding: 4px;
            width: 250px;
        }

        span.text.short {
            width: 120px;
        }
        .editor-field.width500 input[type="text"] { width: 500px; }
    </style>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Content/Admin/Scripts/jquery/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
   
    <script type="text/javascript">
        $(document).ready(function () {

            $('.datetimepicker').datetimepicker({ dateFormat: 'dd/mm/yy', timeFormat: 'HH:mm' });

            $('#btCreate').button({
                icons: {
                    primary: "ui-icon-disk"
                }
            }).click(function (e) {

                e.preventDefault();
                $('#contentContain form').submit();
            });

        });
    </script>
}
