﻿@model Website.Controllers.HomeModel

@{
    ViewBag.Title = "Index";
    ViewData["BodyID"] = "home";
}

<svg id="defsvg" width="20" height="20">
  <defs id="mdef">
    <pattern id="icon" x="0" y="0" height="20" width="20">
      <image x="0" y="0" width="20" height="20" xlink:href="@Url.Content("~/images/icon-small-clock.png")"></image>
    </pattern>
  </defs>
</svg>

<div class="app-body content-home" id="home">
  <div class="container">
    <h2 class="app-logo">SCBLife One Minute ชีวิตคิดไม่ถึง</h2>
    <div class="lead"><p><strong><span class="hilight-purple">เมื่อพลพรรคเสือร้องไห้</span> ต้องเจอกับเหตุการณ์ไม่คาดฝัน</strong> ที่จะเกิดขึ้นกับชีวิตตัวเองตลอด 30 วัน<br>มาช่วยเตือนพวกเขาให้รู้ตัว เพื่อให้ SCBLIFE ได้ดูแลพวกเขาได้ทัน ไม่ว่าเหตุการณ์นั้นจะดีหรือร้าย<br><strong><span class="hilight-purple">เพียงแค่เข้ามาเลือกช่วงเวลา <i class="icon-clock icon-clock-yellow"></i> ที่คุณคิดว่าจะมีเหตุการณ์เกิดขึ้นในแต่ละวัน พร้อมแชร์ออกไปบอกเพื่อน</span></strong><br>แล้วรอลุ้นว่าคุณทายถูกหรือไม่ ถ้าทายถูกรับรางวัลสุดเซอร์ไพรซ์จาก SCBLIFE ทุกวัน</p></div>
    <ol class="player-list">
      <li class="player-01">
        <span class="time">9:25</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-01" data-start="0" data-end="290" data-direction="1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
      <li class="player-02">
        <span class="time">14:55</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-02" data-start="0" data-end="300" data-direction="-1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
      <li class="player-03">
        <span class="time">19:35</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-03" data-start="3" data-end="130" data-direction="-1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
      <li class="player-04">
        <span class="time">22:55</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-04" data-start="0" data-end="315" data-direction="1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
    </ol>
    <a href="javascript:selectDate();" class="button button-join">คลิกร่วมทายเวลา</a>
  </div>
</div>

@section Scripts {
     @if (Model.Rights != null) {
         <script>
             $(function () {
                 open_alert('ยินดีด้วย วันนี้คุณได้รับสิทธิ์เพิ่มจากการชวนเพื่อน @Model.Rights.Value สิทธิ์ <br /> ใช้สิทธิ์ทายเวลา <a style="color: #4e2e83;" href="javascript:selectDate();">คลิกที่นี่</a>');
            });
        </script>
     } else if (Model.Gallery != null) {
        var winners = Model.Gallery.Winners.Select(q => new {
            avatar = (q.Type == 1 ? q.FBPicSquare : Url.Content("~/images/default-user-icon.jpg")),
            name = (q.Type == 1 ? q.FBFullname : q.Firstname + " " + q.FBLastname)
        }).ToList();

        <script>
            $(function () {
                var winnerList = @Html.Raw(Json.Encode(winners));

                open_winner('@Model.Gallery.VDOURL', '@Model.Gallery.EventDate.ToString("HH:mm")', '@Model.Gallery.EventDate.ToString("dd MMM", System.Globalization.CultureInfo.CreateSpecificCulture("th-TH"))', winnerList, '@Model.Gallery.GalleryID', 'http:@Website.WebConfig.BaseURL', '@("Asset/VDOThumb/" + Model.Gallery.Thumb)');
            });
        </script>
    }
}