﻿@{
    ViewBag.Title = "Index";
}

<div class="app-body content-home" id="home">
  <div class="container">
    <h2 class="app-logo">SCBLife One Minute ชีวิตคิดไม่ถึง</h2>
    <div class="lead"><p><strong><span class="hilight-purple">เมื่อพลพรรคเสือร้องไห้</span> ต้องเจอกับเหตุการณ์ไม่คาดฝัน</strong> ที่จะเกิดขึ้นกับชีวิตตัวเองตลอด 30 วัน<br>มาช่วยเตือนพวกเขาให้รู้ตัว เพื่อให้ SCBLIFE ได้ดูแลพวกเขาได้ทัน ไม่ว่าเหตุการณ์นั้นจะดีหรือร้าย<br><strong><span class="hilight-purple">เพียงแค่เข้ามาเลือกช่วงเวลา <i class="icon-clock icon-clock-yellow"></i> ที่คุณคิดว่าจะมีเหตุการณ์เกิดขึ้นในแต่ละวัน พร้อมแชร์ออกไปบอกเพื่อน</span></strong><br>แล้วรอลุ้นว่าคุณทายถูกหรือไม่ ถ้าทายถูกรับรางวัลสุดเซอร์ไพรซ์จาก SCBLIFE ทุกวัน</p></div>
    <ol class="player-list">
      <li class="player-01">
        <span class="time">9:25</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-01" data-start="0" data-end="290" data-direction="1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
      <li class="player-02">
        <span class="time">14:55</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-02" data-start="0" data-end="300" data-direction="-1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
      <li class="player-03">
        <span class="time">19:35</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-03" data-start="3" data-end="130" data-direction="-1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
      <li class="player-04">
        <span class="time">22:55</span>
        <span class="player"></span>
        <span class="shadow"></span>
        <div class="svg" id="player-04" data-start="0" data-end="315" data-direction="1"></div>
        <div class="screen-circle ease-inout-quart"></div>
      </li>
    </ol>
    <a href="javascript:selectDate();" class="button button-join">คลิกร่วมทายเวลา</a>
  </div>
</div>