﻿@using Website;
@using Website.Library;

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link type="text/css" href="~/content/admin/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<link type="text/css" href="~/content/admin/css/custom-theme/bootstrap.css" rel="stylesheet" />
<link type="text/css" href="~/content/admin/css/admin.css" rel="stylesheet" />

@RenderSection("Styles", required:false)

<script type="text/javascript">
    var WEB_HOME = '/';
    var WEB_PATH = '';
</script>

<script src="@Url.Content("~/Content/Admin/Scripts/jquery/jquery-1.6.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Admin/Scripts/jquery/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>

@RenderSection("Script", required:false)

<title>@WebConfig.SiteName Admin Console</title>

</head>
<body>

	<div>
	
        <div id="SystemContainer">        
            <div id="HeadBox" class="">
				<div id="ProjectName" class="">@WebConfig.SiteName Admin Console</div>
				<div class="clear"></div>
			</div>
            
            <div id="cmsMainMenu">

                @if (Request.IsAuthenticated) {
			        <ul id="MainNavigator"  class="filetree">
					    <li>
						    <h3>Site</h3>
						    <ul>
							    <li>@Html.ActionLink("Account", "Index", "Account", new {}, new {@class = "ico ico_sitevariables" })</li>
                                <li>@Html.ActionLink("Play", "Index", "Play", new {}, new {@class = "ico ico_sitevariables" })</li>
                                <li>@Html.ActionLink("Gallery", "Index", "Gallery", new {}, new {@class = "ico ico_sitevariables" })</li>
                                <li>@Html.ActionLink("Invite", "Index", "Invite", new {}, new {@class = "ico ico_sitevariables" })</li>
                                <li>@Html.ActionLink("VDO Background", "Index", "VDOBackground", new {}, new {@class = "ico ico_sitevariables" })</li>
						    </ul>
					    </li>
                        @*<li>
                            <h3>Stat
                            <ul>
                                <li>@Html.ActionLink("Apps Stat", "", "Stat",new {}, new {@class = "ico ico_sitevariables" })</li>
                            </ul>
                        </li>*@
                        <li>
                            @using (Html.BeginForm("LogOff", "AdminUser", FormMethod.Post, new { id = "logoutForm" })) {
                            @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            }
                        </li>
					
				    <!--	<li>
						    <h3>Manage</h3>
						    <ul>
							    <li><a class="ico ico_users" href="index.php/member">Member</a></li>
							    <li><a class="ico ico_users" href="index.php/order">Order</a></li>
						    </ul>
					    </li>
                    -->
				    </ul>
                }
			</div>
            
			<div id="cmsContent">
				<div id="cmsControl">
					<div id="cmsControlTitle" class="ico ico_pages">@ViewBag.Title</div>  
				</div>
				
				<div id="menu-control">
				    @RenderSection("MenuControl",required:false)
				</div>
				
				<div id="contentContain">
				    @RenderBody()         
				</div>
				
			</div>
			
        </div>
			
			
	</div>
<div id="Footer"></div>
    @RenderSection("scripts", required: false)
</body>
</html>