﻿@{
    ViewBag.Title = "AcceptApp";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div id="home" class="app-body content-acceptapp">

</div>

@section Scripts{
    <script>
        window.top.location = '@Url.Action("index", "home")' + '#fblogin';
    </script>
}
