﻿@using Website;
@using Website.Models;
@model List<Website.Models.Gallery>

@{
    ViewBag.Title = "Test";
    ViewData["BodyID"] = "test";
}

<div class="app-body content-join content-gallery-range" id="archive">
  <div class="content-header">
    <div class="container">
      <h2 class="app-logo"></h2>
      <h3>ดูช่วง<strong>เวลา</strong></h3>
      <div class="choose-date select-time-range">
        <div class="date-label">
          <input type="text" name="date" class="form-text datepicker" id="select-date" value="2014-08-23">
          <label for="select-date" class="button button-select-date">23 ก.ย.</label>
        </div>
        <div class="time-label">
          <input type="text" name="time" class="form-text timepicker" id="select-time" value="">
          <label for="select-time" class="button button-select-time">เลือกเวลาที่คุณต้องการ</label>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="scroll-pane" id="custom-scroll">
      <div class="scrollbar">
        <div class="track"><div class="thumb"></div></div>
        <span class="limit-start">00:00</span>
        <span class="limit-end">24:00</span>
      </div>
      <div class="viewport">
        <div class="overview">
          <ul class="event-list">
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:35</span>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd" id="0935">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:35</span>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:35</span>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:35</span>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:35</span>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:35</span>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport odd">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:37</span>
                <a href="#" class="random-color ease-in-circ card profile top"><span>KWAN JEED</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card profile top"><span>PODGILAZ TK</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
            <li class="event-item card-viewport event">
              <div class="container">
                <span class="date ease-in-circ">03 Aug</span>
                <span class="time ease-in-circ">09:36</span>
                <a href="#" class="random-color ease-in-circ card profile bottom"><span>MIZU HAPPI</span><span class="avatar"><img src="https://trello-avatars.s3.amazonaws.com/6f1a9434923c4a5b7a2da7ae57fa9f87/170.png"></span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
                <a href="#" class="random-color ease-in-circ card choose-time"><span>ว่าง<br>AVAILABLE</span></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>